[2016-02-01 11:02] dagatsoin opened #1 "[question] use with react in 1.3?"
Hello Nathan.
I am actually building a stack with Meteor 1.3 and React and I would like to use Modules CSS.
I tried to install your plugin but without success because I think I did not delete the ecmascript package of the beta (which is newer than the 1.2 one)

I first thought to use https://www.npmjs.com/package/react-css-modules but I felt on your plugin and wanted to give it a try.

What are yo

[2016-02-03 08:25] akanix42 commented on #1
@dagatsoin, I've created a new version of the plugin for Meteor 1.3. I've published it as a beta build since Meteor 1.3 has yet to be released.
You can find [instructions here](https://github.com/nathantreid/meteor-css-modules/tree/meteor-1.3) and a [demo app here](https://github.com/nathantreid/css-modules-demo-meteor-1.3).

[2016-02-03 09:55] dagatsoin commented on #1
@nathantreid awesome! You are like superman coming at time! I am taking a look right now.

[2016-02-03 10:21] dagatsoin commented on #1
I have a problem when replacing ecmascript by your package. I can't use React anymore.
For information I started from your demo app then added React and React-Dom via NPM.

[2016-02-03 15:01] akanix42 commented on #1
Ah, I neglected to register the JSX extension. I'll get that updated and ensure that React is working in the demo app.

[2016-02-03 17:50] akanix42 commented on #1
React support is enabled in nathantreid:css-modules@1.0.0-beta.2; check out the latest version of [the demo app](https://github.com/nathantreid/css-modules-demo-meteor-1.3) for a quick start (a React example is now included).

[2016-02-03 18:58] dagatsoin commented on #1
thx @nathantreid
I am trying the demo but nothing is displayed. I have no error message.
I did juste:

[code]

Does it work for you?

[2016-02-03 19:05] dagatsoin commented on #1
Ok demo works with a fresh install. Weird.

[2016-02-03 20:53] dagatsoin commented on #1
@nathantreid I don't manage to make it work in my app.

_Case 1:_
  In the entry point JSX I have: `import * as ley from './wizar-guide.mss'`
  and it throw me: `Uncaught Error: Cannot find module './wizar-guide.mss'`

_Case 2:_
  And in a children component JSX I have: `import * as styles from './map.mss'`
  and my render function draws this element: `<span className={styles.primary} onClick={thi

[2016-02-03 21:43] dagatsoin commented on #1
It appears that `import * as styles from './map.mss'`is not valid but `import * as styles from './map.mss';` is valid. The semicolon make the import been correctly babelized.

[2016-02-03 22:10] dagatsoin commented on #1
Very strange. I simplify the case with two identical components:

[code]

And this threw me error:
`Uncaught ReferenceError: CssModules is not defined` **ONLY** for the Map component. If I strip the import of import of the map component, all works well.

[2016-02-04 01:15] akanix42 commented on #1
I've fixed the import issue - you can use it with or without a semicolon. This is in nathantreid:css-modules@1.0.0-beta.3.
FYI, you can write the import as either "import styles ..." or "import \* as styles ...". I just used "\* as styles" in my examples.

Now on to the big issue.. looks like this one comes down to changes in Meteor's JavaScript bundling in 1.3. The plugin is restricted to outputt

[2016-02-04 04:18] akanix42 commented on #1
I've figured out how to do it properly in Meteor 1.3, it's actually quite a bit nicer! I should have a new release out for it tomorrow.

[2016-02-04 06:34] dagatsoin commented on #1
Nice to hear! Thx you:)

Envoyé de mon iPhone

[2016-02-04 20:42] dagatsoin commented on #1
Do you think it is possible to use sass files with https://github.com/postcss/postcss-scss ? My goal is too use React Toolbox which use Scss files.
Since React Toolbox used css modules, I think it is the only reliable way to use Materiial Design UI implementation in Meteor. (I have also tried material-ui react components they sticks on inline-style-only and it is not customizable at all.)

So I do

[2016-02-04 22:07] akanix42 commented on #1
nathantreid:css-modules@1.0.0-beta.5 handles imports properly. I've switched over to using the modules system for imports, so I'm letting Meteor handle the JS/JSX compilation again - you'll need to run

[code]

Also the _import \* as styles_ syntax is no longer correct. The "styles" property is exported as both default and "styles";  so you can use either of the following:

[code]

[2016-02-04 22:19] akanix42 commented on #1
The postcss-scss plugin is only for applying postcss transformations to scss files. It won't compile it, so any sass-specific  syntax (like mixins, which React Toolbox uses) won't be applied.

I'll give it some more thought, but since Meteor doesn't have a way to chain build plugins, I think these are your 2 main options:
1. create a fork of my plugin that handles .scss instead of .mss files and p

[2016-02-07 14:20] dagatsoin commented on #1
ok, after diving into your code, postcss concept and meteor build. I begin to believe that putting effort on sass will not be efficient for my project.

So I think I will rewrite the React Toolbox component after component when I need them and use your package with PostCSS to build my workflow.

Also I wonder why using the JS Api of PostCSS in your package instead the Meteor PostCSS package? (http

[2016-02-08 12:58] dagatsoin commented on #1
I have an error:
[code]

I  made a repo for this: https://github.com/dagatsoin/css-modules-bug00-beta5

[2016-02-08 14:03] dagatsoin opened #2 "[beta5] Error when files are in multiple path"
I have an error which seems appears when I change files path:

[code]

I  made a repo for this: https://github.com/dagatsoin/css-modules-bug00-beta5

[2016-02-08 15:04] akanix42 commented on #1
juliancwirko:postcss is an awesome package, but it has a different use case; it is meant to be a CSS post-processor, whereas my package is intended as a compiler for CSS modules. That means I have to wrap the PostCSS processing inside of some code that extracts the module information and makes it available to JavaScript, whereas Julian's plugin runs during the CSS minification/bundling step after

[2016-02-08 15:05] akanix42 commented on #2
Thanks, I'll take a look at it.

[2016-02-08 15:32] dagatsoin opened #3 "[beta5] Use postcss-import"
Do you manage to import a bunch of var in another file?
I am trying this file structure:

[code]

[code]

I have installed postcss-import and place it in first place in package.json

[code]

But ended with this error:

[code]

Here is a repo: https://github.com/dagatsoin/css-modules-bug01-beta5.git

[2016-02-08 16:39] dagatsoin commented on #1
Ok, make sense.

During my code exploration I saw [`archMatching: 'web'`](https://github.com/nathantreid/meteor-css-modules/blob/3896c728fc41f98b8dbaf9b422ccb0055a8c50f8/plugins.js) Does it mean it is not usable with Cordova?
I could not test yes because a bug prevents Meteor beta.1.3.8 to compile for Cordova.

[2016-02-09 00:05] akanix42 commented on #1
That makes it not run on the server; it will run on both "web" architectures (browser and cordova).
https://meteor-guide.readthedocs.org/en/latest/packages/#architectures

[2016-02-12 11:44] dagatsoin opened #4 "[beta5] babel version conflict with latest meteor cordova beta release"
When I add your package with  https://github.com/meteor/meteor/issues/6050

[code]

[2016-02-19 23:43] akanix42 commented on #3
This is caused by the way I'm processing paths. I'm reconsidering the way I do that as part of the update to Meteor 1.3, so this might get fixed along the way.
Unfortunately the only workaround for now is to back out of the project directory, like so:
@import '../../client/variables.mss';

Note that there is an extra ../ that what you would expect.

I'm also looking into adding pre-processor suppo

[2016-02-19 23:47] akanix42 commented on #4
I expect this will happen with every beta release that includes an ecmascript update - when this occurs, I'd recommend making a local copy of this repository and updating the package.json.

[2016-02-19 23:47] #4 closed, assigned to nobody

[2016-02-20 00:26] akanix42 commented on #2
This is fixed in the latest release, nathantreid:css-modules@1.0.0-beta.6 (which should be up on Atmosphere momentarily).

[2016-03-11 02:38] DevanB opened #6 "[beta6] ecmascript package conflicts with beta 6"
When I try to add beta 5, I get the following console output:

[code]

[2016-03-11 16:17] akanix42 commented on #6
I just published nathantreid:css-modules@1.0.0-beta.7 to hopefully resolve this.
Meteor sees 1.3-beta.5 as being a higher release than 1.3-beta.16.. I can't use beta-16 on my Windows pc, so I bumped to version 12.
I think Meteor will see .16 as greater than .12, so you should be able to use it with beta.16 now.

[2016-03-11 16:45] DevanB commented on #6
Great! I will test this soon and reply back. Thanks for the quick turnaround!

[2016-03-12 04:18] DevanB commented on #6
@nathantreid the latest fix worked faultlessly! Thanks! totally excited to be trying this out along with React CSS Modules in 1.3! Closing since it's resolved.

[2016-03-12 04:18] #6 closed, assigned to nobody

[2016-03-17 20:31] juditgreskovits opened #7 "Server side rendering"
Would it be possible to omit "archMatching: 'web'" so that this could be used with server side rendering too?

[2016-03-18 06:19] akanix42 commented on #7
I _think_ that should be doable, I just need to add a filter so Meteor doesn't try to output the stylesheet when it's building for the server instead of for web.

[2016-03-20 19:24] mmintel commented on #1
@dagatsoin I was facing the exact same problem like you and encountered every single bug you also got. Did you find a solution until now?

[2016-03-21 07:10] dagatsoin commented on #1
@mmintel no I didn't. I think we should wait until Meteor get hits the 1.3.1 release which comes with .meteorignore and (maybe) easier runtime files import.
For my part, I switched on webpack:webpack which do the job at the cost of adding new layer in my production pipeline.

[2016-03-21 16:00] nodegin opened #8 "Unable to start meteor"
Here's the log:

[code]

I am trying to use this plugin with `kadira:flow-router-ssr` and `kadira:react-layout` for Meteor's universal application,

but I can't get css modules to be working, thanks for helping!

[2016-03-21 16:31] akanix42 commented on #8
When I've seen that error in the past it means you are referencing the postcss-simple-vars plugin in your [css-modules.json](https://github.com/nathantreid/meteor-css-modules-test/blob/master/config/css-modules.json) file, but it is not included in your [packages.json](https://github.com/nathantreid/meteor-css-modules-test/blob/master/packages.json) file.

It's not a [required plugin](https://gith

[2016-03-22 05:12] nodegin commented on #8
Hello, I have tried to place the `packages.json` in the root directory of my project

![2016-03-22 1 10 34](https://cloud.githubusercontent.com/assets/8536244/13942629/7c887560-f02f-11e5-9d59-fabc7ed269a4.png)

But still getting the same error:

[code]

Here's the content inside my `packages.json`:

[code]

And the `config/css-modules.json`:

[code]

[2016-03-22 05:29] nodegin commented on #8
I have fixed this issue by running `meteor add meteorhacks:npm`

[2016-03-22 05:29] #8 closed, assigned to nobody

[2016-03-23 04:03] akanix42 commented on #1
@dagatsoin, @mmintel: My just-released latest beta (nathantreid:css-modules@1.0.0-beta.9) adds support for react toolbox / SASS compilation.
As long as you're not on a Mac, you can use it now through Atmosphere (Meteor's OS X build machines have been uncooperative for the past hour or so, so Mac users currently have to clone [the repository](https://github.com/nathantreid/meteor-css-modules/tree/m

[2016-03-23 14:33] abhiaiyer91 opened #9 "Pre 1.3 jsx support"
How would you like this done, I can send over a PR

[2016-03-23 15:20] akanix42 commented on #9
Thanks!

The first part is to add a jsx compiler to handle jsx files (the only difference should be the `BabelCompiler({react: true})`: https://github.com/nathantreid/meteor-css-modules-js-compiler/blob/master/js-compiler.js

The second bit is to register this compiler: https://github.com/nathantreid/meteor-css-modules/blob/master/plugins.js

The last (and hardest) part is to figure out the last r

[2016-03-26 20:23] ramijarrar commented on #1
@nathantreid Were you able to publish this to OS X, or is the recommendation still to clone the repository?

[2016-03-27 01:55] akanix42 commented on #1
@ramijarrar Unfortunately, i'm still unable to publish for OS X, so cloning the repository is the only way to go. I have an open issue with Meteor (meteor/meteor#6567) but there has been no activity on the issue so far.

[2016-03-29 07:13] shenrenguo opened #10 "Not working with meteor 1.3 "imports directory""
Hello, @Hello Nathan.

I  tired your example for metetor1.3+react-toolbox. it's ok。

but when I create a "imports" directory and move components into it,

it not working.

[2016-04-07 06:58] ddeklerk opened #11 "Cannot install or update to latest version"
Whenever I try to update from `1.0.0-beta.9` or install using `meteor add nathantreid:css-modules` I get the following error:

[code]

I am using version 1.3.1 of Meteor so I should be able to install version 1.0.0, right?

[2016-04-07 18:20] akanix42 commented on #11
Because node-sass is included, there is an extra publishing step for each architecture, which hadn't been completed when you tried to install it.
I've now built for all platforms except OS X, since the Meteor build servers still aren't cooperating there: meteor/meteor#6567

[2016-04-07 18:25] ddeklerk commented on #11
Great to hear. I just installed it successfully on my Windows computer.

[2016-04-07 18:25] #11 closed, assigned to nobody

[2016-04-08 09:37] ddeklerk opened #12 "scss files eagerly loaded even in imports folder"
Now that css-modules finally works with the imports folder I noticed that I did not need to import my stylesheets from the imports folder. This means that any scss files that live there will be eagerly loaded by Meteor.

Let's say I define a whole library of components all using css-modules for the styling. Whenever I don't use one of those (it is not imported in my javascript), the styling is sti

[2016-04-09 01:30] akanix42 commented on #7
This was released in version 1.0.0. I haven't updated the documentation yet, but to enable client & server-side just add a `"specificArchitecture": false` option in the cssModules section of packages.json.

You can also use any other valid "archMatching" setting.

[2016-04-09 01:30] #7 closed, assigned to nobody

[2016-04-09 01:33] akanix42 commented on #10
The fix for this was released in v1.0.0. However as noted in #12 the files will be eagerly loaded (this is next up on my list to fix).

[2016-04-09 01:33] #10 closed, assigned to nobody

[2016-04-09 01:34] #2 closed, assigned to nobody

[2016-04-09 01:36] akanix42 commented on #12
I'm pretty sure I know how to fix this, so I should get to it pretty soon. I just need to work with the Meteor 1.3 way of adding lazy stylesheets.

[2016-04-10 05:30] #12 closed, assigned to nobody

[2016-04-10 06:01] akanix42 commented on #12
Fixed in 1.0.1 (just released to Atmosphere).

[2016-04-10 06:04] akanix42 commented on #1
1.0.1 just published for OS X, so i'm closing this now.

[2016-04-10 06:04] #1 closed, assigned to nobody

[2016-04-11 16:40] proxiper opened #13 "SSR problem"
Hello.

I've set:

[code]

but now getting this:

[code]

I'm using:
meteor 1.3.1
nathantreid:css-modules@1.0.1
kadira:flow-router-ssr@3.12.2
mac os 10.11.2

[2016-04-11 18:09] akanix42 commented on #13
Thanks for the report!
This is fixed in 1.0.2.

[2016-04-11 18:09] #13 closed, assigned to nobody

[2016-04-11 18:12] proxiper opened #14 "Postcss plugins don't work"
I tried to add some plugins (autoprefixer or css-next) to the package.json, but nothing happens.

It works in demo https://github.com/nathantreid/css-modules-demo-meteor-1.3
but after update to nathantreid:css-modules@1.0.1 or 1.0.2 the app stops working. Looks like it can't find "postcss-nested" and crashing because of that.

[2016-04-11 18:53] proxiper commented on #13
Thank you!

Now it works, but the styles apply only after loading of the scripts. So, it's good for bots, but not for people.

Also it takes a lot of time to reload a server. In this topic https://github.com/gadicc/meteor-react-hotloader/issues/26 @gadicc has found a great solution and radically improved a reloading speed. Maybe this will help you to create a better solution too.

[2016-04-11 19:31] akanix42 commented on #13
In Meteor 1.3, lazy loaded CSS files are converted into JS files and wrapped in the addStyles method which adds the styles to the DOM. I'll have to play around with FlowRouter to see if they've come up with a way to handle this.

I feel your pain. @gadicc has done some _really_ awesome work, but AFAIK it only works for React right now. That's not to say I won't look into it (I will) but I think re

[2016-04-11 21:01] akanix42 opened #15 "Changes to "cssModules" settings should clear the cache"
Changes to globalVariables, postcssPlugins, etc don't ever take affect because they don't invalidate the cache. Therefore, changes to cssModules settings inside package.json, as well as to files referenced by those settings (such as "toolbox-theme.scss" from the React Toolbox example) need to cause the cache to be rebuilt.

Originally reported here: nathantreid/meteor-react-toolbox-example#1

[2016-04-11 22:40] akanix42 commented on #14
Sorry about that, the main documentation was out-of-date, so I've updated it. I'll update the demo project soon.

[2016-04-12 01:04] akanix42 commented on #14
The demo project has been updated.

[2016-04-12 01:04] #14 closed, assigned to nobody

[2016-04-12 07:27] gadicc commented on #13
Thanks, guys!  Yes, @nathantreid is correct, although I do plan to expand this to [more general HMR](https://github.com/gadicc/meteor-react-hotloader/issues/8).  It's not too much work for a modest implementation, just haven't had a chance in light of more important improvements.  I hope over the next month.  And in that case, since it seems that css-modules (npm) [supports hotloading](https://git

[2016-04-12 12:40] wojtkowiak opened #16 "No compatible binary build found for this package."
Hey,

just got this trying to add the package to meteor 1.3.1 project:
`While checking for nathantreid:css-modules@1.0.3:
error: No compatible binary build found for this package. Contact the package author and ask them to publish
it for your platform.
`
Platform:
Xubuntu 14.04 64bit

[2016-04-12 12:47] wojtkowiak commented on #16
If I can help in any way, let me know :smile:

[2016-04-12 13:23] proxiper commented on #14
Now it works! Thank you!

[2016-04-12 14:36] proxiper opened #17 "The exception when the jsx and mss files have the same name"
Hello again :)

~~When I compose something from the "both" folders, I get this:~~
This was wrong. The exception occurs when the jsx and mss files have the same name. For example: "app.jsx" and "app.mss" or "app.m.css".

[code]

meteor 1.3.1
nathantreid:css-modules@1.0.3
kadira:flow-router-ssr@3.12.2
mac os 10.11.2

[2016-04-12 14:58] akanix42 commented on #16
Thanks! Turns out the Meteor build server shut off partway through publishing for Linux 64bit... you should be able to pull down the package now.

[2016-04-12 14:58] #16 closed, assigned to nobody

[2016-04-12 17:12] proxiper opened #18 "The problem with composition from the imports folders"
When I compose something from `imports` folders, the package generates class names, but doesn't append styles to the generated css file. So, it works only if I duplicate importing in some jsx file like: `import '../imports/theme/colors.m.css'`

meteor 1.3.1
nathantreid:css-modules@1.0.3
kadira:flow-router-ssr@3.12.2
mac os 10.11.2

[2016-04-12 17:14] akanix42 commented on #18
Wow, you're just finding all the bugs! I really appreciate these reports.

[2016-04-12 17:17] akanix42 commented on #17
Can you post a repo for this one? I can't seem to reproduce it.

[2016-04-12 18:03] proxiper commented on #17
Sure!) It's hard to reproduce because the problem occurs only when you compose something.
https://github.com/proxiper/meteor-css-modules-same-name-bug

If you rename `imports/ui/app/app.mss` to something else and change the importing in the `app.jsx`, then app will work.

Also in this app you can see this issue too https://github.com/nathantreid/meteor-css-modules/issues/18 -- text has classes for

[2016-04-14 14:20] akanix42 commented on #18
The solution here is rather straightforward: CSS Modules needs to track the composes and add them as imports to the output JS files. I've almost got this fixed, just need to find the time - then I'll be able to move on to #17.

[2016-04-18 14:07] pward123 opened #19 "Stylus support"
Would you accept a PR that adds stylus support?

[2016-04-19 09:15] wojtkowiak opened #20 "relative import in scss?"
For me is not entirely clear in the docs. Is this valid?
`composes: b from "../../b.mss";`
or `composes: b from "/b.mss";`
or `composes: b from "./../../b.mss";`
The last one works but is giving some issues.

[2016-04-19 12:05] akanix42 commented on #20
All three of those should be working, but I'm currently receiving some errors:
`CSS Modules: unable to read file /b.mss` and
`packages/mss/css-modules-build-plugin.js:226:10: Cannot read property 'length' of undefined`.
Is that what you are seeing as well?

[2016-04-19 12:14] akanix42 commented on #19
I'd be happy too! In addition to the Stylus processing, there needs to an enableStylusCompilation option that defaults to `[ '.styl' ]` (or whatever other stylus-specific extensions there are, I'm not too familiar with it), like I've done with Sass:

[2016-04-20 00:51] #19 closed, assigned to nobody

[2016-04-20 08:46] vitalyrotari opened #22 "Cannot install package Meteor 1.3.2.2"
[code]

[2016-04-20 10:09] gadicc commented on #22
Same here :)  On `os.linux.x86_64`

[2016-04-20 10:30] gadicc opened #23 "TypeError: Cannot call method 'substr' of undefined"
Have you come across this before?

Running a checkout from master now on Meteor 1.3.2.2.  The last files were:

[code]

But I don't see anything strange with [commons.scss](https://github.com/react-toolbox/react-toolbox/blob/master/components/commons.scss), I'm guessing the problem is in the merge.

<details>
<summary>

`TypeError: Cannot call method 'substr' of undefined` (in source-map)</summary

[2016-04-20 12:00] akanix42 commented on #22
This error is because I've started publishing a new release (1.1.0) but haven't built it for all the platforms yet.

[2016-04-20 13:29] akanix42 commented on #22
Publishing complete for all architectures.

[2016-04-20 13:29] #22 closed, assigned to nobody

[2016-04-20 14:34] akanix42 commented on #23
I've seen this issue before when I was adding 2 different files with the same name (while fixing a fug - it wasn't something you could do in your own project). My guess is this is a similar issue because 1.3.2.2 supports importing scss files from node modules directly, which hopefully means we no longer need the `explicitIncludes` option.

[2016-04-22 08:28] gadicc commented on #22
Thanks! :)

[2016-04-22 08:28] gadicc commented on #23
Thanks, I'm going to move this issue to https://github.com/nathantreid/meteor-react-toolbox-example/issues/4.

[2016-04-22 08:28] #23 closed, assigned to nobody

[2016-04-22 13:39] TimBroddin opened #24 "Attempting to combine different files error with Meteor 1.3.2.4"
I'm getting this error after updating to Meteor 1.3.2.4 with the latest version of meteor-css-modules. I'm debugging this as we speak, so I hope to share the solution with you soon.

[code]

[2016-04-22 13:44] akanix42 commented on #20
This should be resolved in version 1.1.1. Are you still experiencing issues?

[2016-04-22 13:44] akanix42 commented on #18
This should be resolved in version 1.1.1 - are you still experiencing issues?

[2016-04-22 13:45] akanix42 commented on #17
This should be resolved in 1.1.1 - are you still experiencing issues?

[2016-04-22 14:22] TimBroddin commented on #24
I got it working by commenting out this block in a git checkout of Meteor. Somehow the sourcemap generator got stuck on this.

[code]

(in tools/isobuild/compiler_plugin.js)

[2016-04-22 14:34] TimBroddin commented on #24
Since this is probably a meteor bug, I made an issue there. I also created a project demonstrating this issue: https://github.com/TimBroddin/meteor-css-modules-bug

meteor/meteor#6881

[2016-04-22 14:34] akanix42 commented on #24
Meteor 1.3.2 changes the way css files are imported. :frowning: I've got some more digging to do, but for now you can probably make it work by changing the `outputJsFilePath` option in package.json:

[code]

Thanks for digging into it!

[2016-04-22 14:43] TimBroddin commented on #24
Thanks for the quick reply!

[2016-04-23 04:05] newswim commented on #24
I tried just changing the "outputJsFilePath" key in package.json and... complains it can't find files, then the 'attempting to combine different files' error from Meteor. A similar issue was occurring when I tried adding Stylus support, here's my output:

<details>
  <summary>

Click to see the thrown error </summary>

[code]

</details>

package.json:

[code]

Downgrading to 1.3.1 in the meantime

[2016-04-23 07:19] wojtkowiak commented on #20
Sorry I did not respond sooner. Seems that it works pretty well now, thanks :+1:
One question by the way. Is composes in any way different from using @import / @extends from scss?

[2016-04-24 03:06] dfischer opened #25 "Unable to change default font family in css-modules/react-toolbox"
I get a weird error (looks like a hanging quote for some reason)

Source:
`$preferred-font: BlinkMacSystemFont, "Helvetica Neue";`

[code]

[2016-04-24 06:52] akanix42 commented on #25
I parse the global variables as json to make them accessible from javascript.. I'll need to adjust the parsing or allow it to be disabled so it doesn't break when things like this happen.

[2016-04-24 07:09] #18 closed, assigned to nobody

[2016-04-24 07:09] #17 closed, assigned to nobody

[2016-04-24 07:20] akanix42 commented on #20
yeah, it's a little different. @extend copies the styles, whereas composes combines the classes. So given

[code]

if you do

[code]

then the result of `<someTag class="{{styles.b}}">` is `<someTag class="b a">`.

If you do an extend, the properties are copied in, so the result is just `<someTag class="b">`.
The primary difference is that if you have

[code]

The color won't necessarily be purple

[2016-04-24 07:20] #20 closed, assigned to nobody

[2016-04-24 07:38] akanix42 commented on #24
This one has proven to be bigger than I expected (and life is pretty busy right now). I will probably have a fix or workaround sometime this week.

[2016-04-24 08:08] TimBroddin commented on #24
@nathantreid thanks a lot, I'll keep using my patched up Meteor version until then :)

[2016-04-25 00:35] dfischer commented on #25
Yeah just trying to customize react-toolbox. Found a way to get around it for now by hacking the css. 👍

[2016-04-25 14:53] gadicc opened #27 "Move binary deps to another package"
Not sure if you know this trick, but it will change your life :)  Put `node-sass` and any other deps in their own package, say `css-modules-binary-deps`, and `publish-for-arch` that.  Then `api.use()` that binary dep package and get `node-sass` from there.  And that's the last-time you'll have to `publish-for-arch` until you need to update any of those binary deps again.

[2016-04-25 15:13] gadicc commented on #13
@proxiper, no ETA but this will come eventually I think :)  https://github.com/nathantreid/meteor-css-modules/pull/26

[2016-04-25 15:36] gadicc commented on #24
Hey all, for me I solved both issues (either "Attempting to combine different files" or "Cannot find module") with the following (i.e. no `{extname}` in there).

[code]

Hope this helps!  Let us know.

[2016-04-25 16:07] newswim commented on #24
@gadicc that's working on 1.3.2.4?

[2016-04-25 16:53] gadicc commented on #24
Yup!

[code]

`*` Except if you get a `TypeError: Cannot call method 'substr' of undefined`, I had to modify the package to fix this, as per https://github.com/nathantreid/meteor-react-toolbox-example/issues/4#issuecomment-213738655.

[2016-04-25 21:04] akanix42 commented on #27
I tried that, and I still got the message that I had to publish-for-arch. I did some digging and found [this old issue](https://github.com/meteor/meteor/issues/2798) stating that publish-for-arch is still required for build plugins that use a binary package.

[2016-04-26 04:08] gadicc commented on #27
Oh wow, please tell me you tried this a while back and didn't waste time on this now :>  It's a bit embarrassing considering I was involved in that issue you mentioned!  But yeah it was from over a year ago.

[2016-04-26 04:08] #27 closed, assigned to nobody

[2016-04-26 11:31] johnnynotsolucky opened #28 "Error after upgrading from 1.0.3 to 1.1.1"
After updating Meteor to 1.3.2.4, `css-modules` was auto-upgraded to 1.1.1 from 1.0.3.

When I try to run the project, I get the following error

[code]

However, when I downgrade back to 1.0.3, everything works perfectly. Could this be a problem with my set up or a potential bug in the `css-modules` package?

[2016-04-26 13:42] akanix42 commented on #27
Yeah, it was about 2 weeks ago, when I got rather annoyed with having to publish-for-arch every time I made a little update. I've even considered trying to remove the npm dependencies and require the user to npm install them - but I think instead I just need to find the time to automate the build process.
Wouldn't be half as bad if the Meteor OS X build servers hadn't been so unstable lately.

[2016-04-27 05:08] gadicc commented on #27
Ugh yeah this was driving me mad too :/  Maybe I should move my bitcoin mining operation from the OS X build servers to the Ubuntu ones, which seem much more reliable ^_^

[2016-04-28 17:29] TimBroddin opened #29 "React-toolbox on both client and server"
Hi Nathan,

Sorry to bother again. I usually put my app-code in a directory called `app` so `flowrouter-ssr` can render it. However, when doing this with react-toolbox I get this error:

`Cannot find module './style'`

Putting everything back in `client` works.

This is probably related to #10 or #12 I guess.

(Doing this on Meteor 1.3.1)

[2016-04-28 19:34] akanix42 commented on #28
This has been fixed in 1.1.2.

[2016-04-28 19:34] #28 closed, assigned to nobody

[2016-04-28 19:34] akanix42 commented on #24
This has been fixed in 1.1.2.

[2016-04-28 19:34] #24 closed, assigned to nobody

[2016-04-28 22:40] akanix42 commented on #29
Definitely not a bother! :smile:

Can you share a repro so I can see exactly what you're seeing?

Thanks!

[2016-04-29 07:46] TimBroddin commented on #29
Sure, here you go: https://github.com/TimBroddin/app-dir-bug

If you rename the `app` dir to `client` it works.

I couldn't try with 1.1.2 because Atmosphere hasn't built the packages for OS X yet.

[2016-04-29 09:12] icukaegbu opened #30 "Can't install 1.1.2 on Meteor 1.3.2.4"
Can's seem to install 1.1.2 on OS X 10.11.4, gives the error message below:
**"While checking for nathantreid:css-modules@1.1.2:
error: No compatible binary build found for this package. Contact the package author and ask them to publish it for your platform."**

Trying to run React-Toolbox 0.16 with React v15 and Meteor 1.3.2.4. My package.json is as shown below:
{
  "name": "visitor-management",

[2016-04-29 09:34] thomasgalibert commented on #30
same issue on my ubuntu server with meteor 1.3.2.4

[2016-04-29 09:46] rainum commented on #30
Same issue on OS X 10.11.4:

[code]

[2016-04-29 14:58] newswim commented on #30
Ditto, if I recall correctly this is a problem with Atmosphere.

[2016-04-29 15:09] akanix42 commented on #30
Meteor requires you to use their build servers for publish packages with binary dependencies (like node-sass). Unfortunately, the Meteor build servers are unstable. Reviewing the logs it looks like the OS X and Linux publishing servers shut off right before publishing the package. I'll re-run these shortly.

I'm considering removing node-sass from the package and instead requiring the user to `npm

[2016-04-29 15:30] akanix42 commented on #30
@thomasgalibert: Linux is good to go now.

OSX is still kicking me off partway through the process, and the MDG response to this is "This does happen sometimes" so I'll wait a while and try again.

[2016-04-30 15:43] akanix42 commented on #30
1.1.2 has been published for OS X.

[2016-04-30 15:43] #30 closed, assigned to nobody

[2016-04-30 17:16] newswim opened #31 "1.1.2 still throwing 'substr' error"
I first performed `meteor reset`, then updated to the latest versions of Meteor and CSS-Modules, started up the app and got the previously encountered 'substr' error. @gadicc had worked around this prior to 1.1.2 by commenting out [this line](https://github.com/nathantreid/meteor-css-modules/blob/4cbd6bdf9f371f7253b7937fd7072eccbdd350ac/css-modules-build-plugin.js#L229).. however, afaik this issue

[2016-05-01 01:43] hervejegou commented on #31
same here... with Meteor@1.3.2 and the latest meteor-css-module@1.1.2, I get the same error:
`Cannot call method 'substr' of undefined`
running with `$ meteor --release 1.3.1` solves the issue. Will continue with 1.3.1 while hoping for a fix.

[2016-05-01 02:37] clayne11 opened #32 "SCSS issue with node_modules SCSS file"
Cross-posting from Meteor issues - I'm starting to think this is a CSS modules bug since I don't have this issue with `fourseven:scss`.

https://github.com/meteor/meteor/issues/6950

[2016-05-01 02:41] clayne11 commented on #32
`nathanreid:css-modules` also doesn't support relative paths that don't start with `./`, like `@import "test.scss"` - it needs to be `@import "./test.scss"`. Both are perfectly valid in SCSS-land though.

[2016-05-01 03:03] akanix42 commented on #32
Sounds like a bug to me - that isn't a case I took into account. Should be easy enough to fix, though.

[2016-05-01 06:03] shenrenguo commented on #31
+1
with Meteor@1.3.2.4 and css-module@1.1.2
osx

error message:
node_modules/meteor/promise/node_modules/meteor-promise/promise_server.js:116
      throw error;
            ^
TypeError: Cannot call method 'substr' of undefined
    at Function.<anonymous> (/Users/srg/.meteor/packages/meteor-tool/.1.3.2_4.1kbuth2++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/lib/node_modules/sou

[2016-05-01 09:14] hervejegou commented on #31
I think many people would be interested in a working starter pack for React Toolbox with css-modules:
There are a lot of issues right now with Material UI and their inline css and a lot of noise about all the trade offs. After trying it and checking carefully everything else it seems that react toolbox and css modules are a much better solution for the near future. Your https://github.com/nathantr

[2016-05-01 12:27] akanix42 commented on #31
Just posted the react toolbox example app updates; there are [2 configuration changes](https://github.com/nathantreid/meteor-react-toolbox-example/commit/f140d349434df25e93217e1c0f3bbef4ab68c034#diff-b9cfc7f2cdf78a7f4b91a753d10865a2).
First, Meteor 1.3.2.4 supports importing SCSS files from node_modules, so you need to remove the `explicitIncludes` section from package.json. Second, Meteor doesn't

[2016-05-01 12:27] #31 closed, assigned to nobody

[2016-05-01 20:00] newswim commented on #31
Works great! Thank you \* million, Nathan!

[2016-05-02 01:28] hervejegou commented on #31
Thanks it works very well now. It is great to be able to use React Toolbox with css modules (instead of inline styles in Material ui).

[2016-05-02 05:09] genyded opened #33 "Causes issues with react-select"
Has anyone had success getting this to work with [react-select](https://github.com/JedWatson/react-select) installed as well? It may be issues with the sass for that component, but it works fine wihout css-modules installed. I am wondering if the is a way to exclude the react select stuff from being seen in the packages.json config or if anyone else has any ideas. Here is the output with both inst

[2016-05-02 12:43] rainum commented on #33
Same issue here.

@genyded it works fine without meteor-css-modules installed because it uses precompiled `react-select/dist/react-select.css` by default. Error occurs when meteor-css-modules tries to compile react-select's scss styles.

@nathantreid could you please add option which allows to ignore some paths? Something like `ignorePaths` to the options.

[2016-05-02 12:53] genyded commented on #33
Thanks for the info and I figured as much. We were trying to use this to add react-toolbox, but we are on a tight timeline, so we're trying other options and may revisit this later so an 'exclude' option would be great. It's really cool someone took the time to try and help things like react toolbox work in Meteor. Kudos Natahan!

[2016-05-02 14:49] akanix42 commented on #33
@rainum: `ignorePaths` sounds like a good option... I'm adding it to my todo list.

[2016-05-02 17:57] clayne11 commented on #33
I already created an issue about exactly this: https://github.com/nathantreid/meteor-css-modules/issues/32

[2016-05-02 21:51] akanix42 commented on #33
@clayne11: Ah, I initially took your issue to be a little different, in that the files were being loaded into the app even though they shouldn't have been since they should have been lazy-loaded but were never referenced.

Meteor's current build system sends all the files for a registered extension (in this case .scss) to the build plugin, regardless of whether or not they are referenced anywhere

[2016-05-03 05:44] genyded commented on #33
We're trying to move to react toolbox from Material UI because of quality issues and rude team members there, but we also make extensive use of react select throughout our app. Also Meteor is a must for us for the time being. We're already behind because of the move away from Material UI, so it would be cool if we could get react toolbox and react select working together with Meteor soon.

We also

[2016-05-03 16:25] clayne11 commented on #33
What I did to get `react-select` working is simply created a Meteor package with the `react-select` code in it. Once this issue is fixed I can go back to use the version from Npm.

[2016-05-03 17:11] genyded commented on #33
Brilliant! Any plans to publish it to Atmosphere? The ones out there are outdated and the Select.Async causes issues. We need 1.0.0-beta9+  wrapped. If not we can create our own, but figured why reinvent the wheel.

[2016-05-04 18:34] helitack commented on #32
Sounds like two separate but similar issues here.
1. Should be able to exclude folders from eager loading through config and perhaps even exclude `/node_modules` by default.
2. Should support relative paths that don't start with `./`. Very common in big libs like bootstrapv4.

+1 on both of these.

[2016-05-08 10:54] hervejegou commented on #29
Hi Nathan:
same issue here: when importing any react-toolbox module in an app component, if there is no parent 'client' folder (can be any level up), I get the standard error `Cannot find module './style'`
This probably means no SSR for now.
Tested with your meteor-react-toolbox-sample app and with own app, with Meteor 1.3.1

[2016-05-13 04:00] akanix42 commented on #29
From my testing, I think Meteor must be handling the server-side files differently from the client-side. I need to dig back into Meteor's file handling for this. Hopefully I can address this this weekend.

[2016-05-13 04:59] akanix42 commented on #32
Sorry for the delay on this - both of these are fixed in 1.2.0. I've documented the new ignorePaths option here: https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options

For react-select, the ignorePaths options is still required because there appears to some other special configuration required to process the scss files (and of course, you don't really want to process them anyway).

[2016-05-13 05:04] akanix42 commented on #33
Sorry for the delay on this - the `ignorePaths` option has been added in 1.2.0. I've documented the new option here: https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options

[2016-05-13 05:20] rainum commented on #33
@nathantreid awesome, thanks!

[2016-05-13 15:52] clayne11 commented on #32
Confirmed fixed. I'm closing this.

[2016-05-13 15:52] #32 closed, assigned to nobody

[2016-05-13 16:38] JWo1F opened #34 "Compress style in production mode"
**.packages__test-modules_abc** to **.8934ad897647f9** for example (MD5).

[2016-05-15 16:13] hervejegou commented on #29
Hi Nathan:
Thanks and all the best solving this issue. I am really liking react-toolbox with css modules, it is a great setup for Meteor and react.  I was also trying to install [react-storybook](https://github.com/kadirahq/react-storybook) to preview all react components and bumped into the same issue: the storybook local server cannot access all the app components since they must be in a client

[2016-05-18 20:12] comerc opened #35 "Support of sugarss"
[Yes, I know](https://forums.meteor.com/t/is-there-any-way-to-use-both-postcss-and-css-modules-in-my-project/21506/8).

Please-please-please! :)

[2016-05-18 21:09] comerc commented on #35
OK, sass is work now - [tested](https://github.com/comerc/css-modules-demo-meteor-1.3).

[2016-05-19 23:20] aakagi opened #36 "Possible issues with flow-router"
It may not be due to this package, but I'll just explain my issue:

After adding flow-router to my react project, I suddenly started getting an error where my components were unable to locate their scss files in the same directory.

For example, I have the filetree - Navbar/{Navbar.jsx, Navbar.scss, Navbutton/Navbutton.jsx}

Then I get the error "Error: Cannot find module './Navbar.scss'" and it s

[2016-05-20 18:26] aakagi commented on #36
Figured out a solution! I put my routes.js inside my imports folder instead of lib/routes.js, and then I just import the route in my client/main.jsx

[2016-05-20 18:26] #36 closed, assigned to nobody

[2016-05-21 18:26] comerc opened #37 "postcss-simple-vars does not work in sass"
is it imposible?

(we need sugarss for tab-indent syntax)

[2016-05-21 21:31] comerc commented on #35
Please help me. It is does not work:

[code]

Error: is not a PostCSS plugin

My changes: [one](https://github.com/comerc/css-modules-demo-meteor-1.3/blob/master/packages/meteor-css-modules/css-modules-processor.js#L5), [two](https://github.com/comerc/css-modules-demo-meteor-1.3/blob/master/packages/meteor-css-modules/css-modules-processor.js#L74)

How to run:

[code]
...then [http://localhost:300

[2016-05-22 14:16] comerc commented on #37
[support of sugarss](https://github.com/nathantreid/meteor-css-modules/pull/38)

[2016-05-22 14:16] #37 closed, assigned to nobody

[2016-05-22 14:17] comerc commented on #35
[support of sugarss](https://github.com/nathantreid/meteor-css-modules/pull/38)

[2016-05-22 14:17] #35 closed, assigned to nobody

[2016-05-22 14:31] comerc opened #39 "Remove dependencies of unused npm modules"
such as: sass, stylus, sugarss

[2016-05-23 16:15] akanix42 commented on #39
I'm thinking of switching them to user-installed dependencies so they don't bloat the package (also helps me with package builds).

[2016-05-23 16:31] #33 closed, assigned to nobody

[2016-05-23 16:47] comerc commented on #39
Yes! :) assembling a local copy of the packet is performed for a long time.

[2016-05-25 21:15] cristiancedenogallego opened #40 "Require from root path?"
How i can require from a root path inside a file .scss

``
@import 'rootpath/styles/App.scss';

.anotherclass {

}

[2016-05-25 21:30] akanix42 commented on #40
By root path do you mean the app root?

You can do

[code]

[2016-05-25 23:33] helitack opened #41 "Using css-modules in meteor package"
When using css modules in a package:

_myapp/packages/mypackage/package.js_

[code]

Where is it getting it's package options from? the root project's package.json file? Could it be possible to define different package options such as extensions or ignorePaths that apply only to the package?

[2016-05-26 01:06] #40 closed, assigned to nobody

[2016-05-30 12:10] akanix42 commented on #41
The options are pulled from the project's package.json file. The Meteor build process does supply the ability to detect when it is being run in a package, so I'd need introduce a new setting (probably `packageOptions: { yourPackage: { someSetting: true; } }`.
I'm thinking it would merge your package-specific settings with your global settings so you would only need to specify the settings that are

[2016-06-15 00:47] skirunman opened #43 "Any plans to support Less?"
Hi Nathan,
Any plans to support Less so it would be possible to easily using [Essence](http://getessence.io/) with Meteor 1.3.3?
Thanks!
Jim

[2016-06-15 00:48] skirunman opened #44 "Any plans to support Less?"
Hi Nathan,
Any plans to support Less so it would be possible to easily use [Essence](http://getessence.io/) ([github](https://github.com/Evo-Forge/Essence)) with Meteor 1.3.3?
Thanks!
Jim

[2016-06-15 13:05] akanix42 commented on #43
closed as duplicate of #44

[2016-06-15 13:05] #43 closed, assigned to nobody

[2016-06-15 13:11] akanix42 commented on #44
I'll add this to my todo list, but it might be a while before I can get to it; alternatively, I will happily accept a pull request that implements it in the way I've done for Sass.

[2016-06-16 22:09] cristiancedenogallego opened #45 "Can camelCase?"
Can any option to camelcase selectors?

example:
.any-element >> anyElement

see https://github.com/webpack/css-loader
css-loader?camelCase

[2016-06-17 15:50] cristiancedenogallego opened #46 "Error using sass and autoprefixer"
when add autoprefix or another postcss plugin modules not working return undefined on import

index.js

[code]

styles.scss

[code]

In package.json

[code]

[2016-06-18 21:14] cristiancedenogallego commented on #46
I fixed this problem setting postcss Plugins to:

[code]

I think documentation is not clearly specifying that modules by default are included but is necessary add this to postcssPlugins

[2016-06-18 21:15] #46 closed, assigned to nobody

[2016-06-19 16:47] EQuimper opened #47 "Don't install"
Hey, I was trying to install your packages and this morning I get this message in my terminal

[code]

I have the latest meteor versions 1.3.3.1

[2016-06-20 09:10] Spiralis commented on #47
There seems to be a lot of difficulties using this release with an evolving meteor. The meteor react toolbox example referred to is running as is, but updating meteor seems to invalidate the solution.

I am on meteor 1.3.3.1 and it also fails to install with the message as @EQuimper refers to above.

[2016-06-20 12:50] akanix42 commented on #47
This is because I'm in the process of releasing version 1.3.0, but the Meteor OS X and linux build servers aren't working properly when they try to release my package. This has happened with basically every CSS Modules package release I've done - it'll not work for a while but I'll keep trying and eventually it'll go through. In the meantime, if you try to install it from Atmosphere on Windows or

[2016-06-20 18:57] akanix42 commented on #45
There isn't an option for this yet, I'll have to see what it would take to enable.

[2016-06-20 23:28] akanix42 commented on #47
I just released version 2.0.2. As of 2.0.0, the node-sass, stylus, and sugarss npm packages are no longer bundled with the plugin, which means I no longer have to use the Meteor build servers and can release updates much more quickly/easily. See [https://github.com/nathantreid/meteor-css-modules#breaking-changes-in-200] for more details.

It also means less bloat for the end user. :smile:

I also

[2016-06-20 23:28] #47 closed, assigned to nobody

[2016-06-20 23:29] EQuimper commented on #47
Awesome job @nathantreid Thank you

[2016-06-21 13:52] akanix42 commented on #39
As of 2.0.0, the npm packages for sass, stylus, and sugarss are no longer bundled with the package and must be `meteor npm install`ed by the user as needed. [The wik](https://github.com/nathantreid/meteor-css-modules/wiki)i contains instructions on setting each up.

[2016-06-21 13:52] #39 closed, assigned to nobody

[2016-06-25 11:41] hervejegou opened #48 "Meteor and react-toolbox require react-toolbox version 0.16.2 or lower?"
I use Meteor and react-toolbox, follow the instructions in wiki:

I can only use the April version  (0.16.2)
`npm install --save react-toolbox@0.16.2` if you use `npm install --save react-toolbox` and get the latest version (1.0?) it will not work well??
I will test again but for now I installed version 0.16.2 and all is fine...

[2016-06-25 20:51] cristiancedenogallego commented on #34
You can use cssnano for this, please check http://cssnano.co
I suppose that is the reason for not be included

[2016-06-26 01:43] Spiralis opened #49 "How can I create rules that include fixed classnames?"
I use font-awesome and I want to make a rule so that the font-awesome element that is a child of another CSS-nulde-based class is to have specific css-rules.

When using font-awesome you typically add the `fa` class to the element (normally in an `<i>` tag).

[code]

Problem is, when I do this, CSS-modules creates a pre-fixed name for the `fa` class too. The html element has to use the verbatim fa

[2016-06-26 01:48] Spiralis commented on #49
I found the answer to this before posting the question. But, I figured that there could be others with the same question.

This project is based on https://github.com/css-modules/css-modules, although perhaps a litt too subtle referenced?

In that project the additional :global and :local "switches" where documented.

My code above could then be:

[code]

or

[code]

[2016-06-27 15:38] akanix42 commented on #49
Thanks for the documentation update. I'll add a prominent link to the main CSS modules repository.

[2016-06-27 15:38] #49 closed, assigned to nobody

[2016-07-01 18:37] clayne11 opened #51 "[2.1.0] Cannot build for SASS with Meteor 1.3.4.1"
I updated to `2.1.0` and I can no longer build my app. It's complaining that it can't find `node-sass` (which is installed)

[code]

Error:

[code]

[2016-07-05 09:11] adrianmcli opened #52 "The README does not demonstrate the .css extension"
I read on the Meteor forums ([link](https://forums.meteor.com/t/css-modules-for-meteor-without-webpack/19682/30)) that `.css` extension is now supported so I will not need to use the `.mss` file extension.

However, the README does not reflect that yet. Is this support considered stable yet?

[2016-07-05 12:49] akanix42 commented on #52
It is! I've updated the README to reflect this.

[2016-07-05 12:50] #52 closed, assigned to nobody

[2016-07-05 12:50] akanix42 commented on #51
Thanks for the report, I'll look into this ASAP.

[2016-07-05 13:13] akanix42 commented on #51
From my testing, I get this error if I use `npm install node-sass` instead of `meteor npm install node-sass`.
Which command did you use? If you used the former, you will need to `npm uninstall node-sass` before installing it via meteor npm.

[2016-07-05 21:11] clayne11 commented on #51
I was using `npm install`. It worked with `meteor npm install` as you suggested. Thanks for the help.

[2016-07-05 21:11] #51 closed, assigned to nobody

[2016-07-06 09:12] hyperh commented on #51
I thought there was no difference between `meteor npm install` and `npm install`? Just wondering what the difference actually is.

[2016-07-06 16:36] clayne11 commented on #51
I believe that Meteor is bundled with it's own version of `node` and `npm` and so using `meteor npm` uses that bundled version.

With `Meteor 1.3.4.1` I'm not really able to use `meteor npm`. It's using an old version of `npm` which doesn't install a lot of packages properly. I'm going to stick with `nathantreid:css-modules@1.2.0` until `Meteor 1.4` comes out which should resolve a lot of dependen

[2016-07-08 19:54] RafaelVidaurre commented on #13
I'm getting this version on 2.1.0, I'm importing styles from a local package

[2016-07-08 20:00] RafaelVidaurre commented on #13
This stopped happening after removing `fourseven:scss`

[2016-07-09 09:52] priezz opened #53 "Slow rebuild times"
Hi there!

I have package version 2.1.0 together with Meteor 1.4-beta.7. Even when having no preprocessor nor plugins used, the rebuild times varies in the range **25-40** seconds  when changing _client_ side files.
The `package.json`:

[code]

The Meteor profiler output:

[code]

I have just 9 *.sss files within the project - all with fully commented code:

[code]

So there is really nothing to b

[2016-07-11 02:14] RafaelVidaurre opened #54 "`addStyles` Error when importing in package"
My setup works in my main app but 2 things are not working for me:
- ~~The package doesn't seem to be reading from `package.json` it basically ignores my configs and sticks to defaults.~~ EDIT: This works when restarting the app
## When I try to import the file in a local package I get this error:

[code]

Package.js code contains (among other stuff):

[code]

pathable-styles.js contains:

[code]

[2016-07-11 14:40] clayne11 opened #55 "[2.1.0] Issues upgrading to Meteor 1.4"
I'm trying to upgrade to Meteor `1.4-beta.9` and I'm getting some errors from this package.

[code]

I installed my `npm` dependencies with `meteor npm install` but it's still not working. This is during the upgrade process, so I can't even get up to Meteor `1.4-beta.9` nevermind running it.

I ran into the same issue with `1.4-beta.6` and `1.4-beta.7` as well.

Works fine with `Meteor 1.3.4.4`

[2016-07-11 17:12] newswim opened #56 "'No compatible binary build found for this package'"
Just upgraded to Meteor 1.3.4.4, are you waiting for 1.4 to publish a new release? Understandable if so, I'm just wondering if this is a fluke. Thanks for your help!

[2016-07-12 15:55] RafaelVidaurre commented on #54
Fixed this somehow after re-doing the setup

[2016-07-12 15:55] #54 closed, assigned to nobody

[2016-07-12 18:06] RafaelVidaurre opened #57 "Imports not working correctly"
I'm using `francocatena:compass` package, and when trying to import the library on a `.scss` file I get this:

[code]

Have not been able to debug it. It looks like it is getting the paths incorrectly or something

[2016-07-13 12:09] hervejegou commented on #48
I managed to update... there were some breaking changes in react-toolbox and after some debugging,  and following exactly the instructions on https://github.com/nathantreid/meteor-react-toolbox-example (package syntax and versions used) and it works

[2016-07-13 12:09] #48 closed, assigned to nobody

[2016-07-13 13:24] akanix42 commented on #56
There shouldn't be any need for binary builds anymore. Are you using the latest version (2.1.0)?

[2016-07-13 13:26] akanix42 commented on #55
Is this working for you in 1.4.10 (or later)?

[2016-07-13 13:28] akanix42 commented on #53
Yikes, that's a long time! I'm not sure if that's my plugin or something with the beta, but I'll take a look.

[2016-07-13 13:29] akanix42 commented on #57
Can you post a repro on github so I can see exactly what you're seeing? Thanks.

[2016-07-13 13:31] newswim commented on #56
I just had to re-link node-sass as per the instructions, and include the _outputJsFilePath_ defs in package.json. This is probably because I haven't updated react-toolbox to 1.0 yet. All good!

[2016-07-13 13:31] #56 closed, assigned to nobody

[2016-07-13 21:42] RafaelVidaurre commented on #57
Sure, I'll take some time to create a repo for that

[2016-07-14 18:06] RafaelVidaurre commented on #57
@nathantreid Okay, I managed to fix some parts of my issue while doing the example repo. One thing to note is that the errors thrown when `node-sass` is not installed are not very helpful.

Okay so what, apparently IS a bug is the following error:
<img width="709" alt="screen shot 2016-07-14 at 1 59 41 pm" src="https://cloud.githubusercontent.com/assets/1808674/16850058/4a353f1c-49cb-11e6-90dc-0a8

[2016-07-14 23:44] clayne11 commented on #55
I'm still having problems. Just tried to update to `1.4-beta.14` and got the following:

[code]

It's the same issue I was getting in https://github.com/nathantreid/meteor-css-modules/issues/51.

I'm trying `meteor npm install` before and I wonder if it's not working because the `node` version in `1.4` is not the same as the one in `1.3.4.4`.

If I don't have a `node_modules` folder at all though

[2016-07-15 16:31] clayne11 commented on #55
Cross-posting from https://github.com/meteor/meteor/issues/7390:

I managed to get around this issue. The key was using the same version of `node` to `npm install` my dependencies as Meteor `1.4` uses even before doing the update.

I had to delete my `node_modules` folder and then `nvm use 4` to switch to the correct version of `node`. Then I did an `npm install` and only then was I able to update

[2016-07-18 14:32] Spiralis opened #58 "How to change the naming convention?"
My components are in a folder-structure as suggested by newer Meteor projects. This means that the classname for any UI component always ends up starting with: `_imports_ui_components_` (or `_imports_ui_layouts_` for my layout components).

Is there anyway I can configure css-modules to not include this first part of the path in the generated class-names? Other than  myself manually augmenting the

[2016-07-18 20:17] akanix42 commented on #58
There is currently no support for this, although I'd like to add it. In the meantime, you can customize it by forking the package and editing the value of sanitisedPath in the generatedScopeName function on [postcss-plugins.js line 14](https://github.com/nathantreid/meteor-css-modules/blob/master/postcss-plugins.js#L14).

[2016-07-20 13:48] davidwoody commented on #53
@priezz @nathantreid We're seeing similarly slow build times being reported by the Meteor profiler on one of our projects as well.

[2016-07-20 16:18] RafaelVidaurre commented on #57
Any news on this @nathantreid ? Cheers

[2016-07-20 18:39] vinnyjth commented on #53
@priezz What are the rough specs of the computer you are using? I'm not having major issues with a project that utilizes this package (I'm using a newer Macbook Pro with 16GB RAM), but one of my co-workers is using an older MacBook Air with 4GB of RAM and has pretty significant slowdowns when building the same project.

I'm trying to find some sort of pattern or additional info to narrow down what

[2016-07-20 18:50] flippyhead commented on #57
I'm curious about this too.

[2016-07-20 22:34] priezz commented on #53
MacBook Air mid 2012 core i7 2.0GHz, 8Gb RAM, SSD

20 июля 2016 г. 21:39 пользователь Vincent Wilson notifications@github.com написал:

@priezz What are the rough specs of the computer you are using? I'm not having major issues with a project that utilizes this package (I'm using a newer Macbook Pro with 16GB RAM), but one of my co-workers is using an older MacBook Air with 4GB of RAM and has pret

[2016-07-21 00:06] akanix42 commented on #57
This is caused by a bug in my code when importing package files. I've got a fix for it - I just need to perform a little more testing to make sure it doesn't break anything.
I expect to have it out tomorrow.

[2016-07-21 22:39] #57 closed, assigned to nobody

[2016-07-24 20:16] crackedbeefcake commented on #57
is this fixed? because i have the same error...
`install.js: 101 Uncaught Error: Cannot find module './styles/new.sass'`

[2016-07-24 20:32] crackedbeefcake commented on #57
out of nowhere. no updates or relevant code changes..

[2016-07-25 13:19] crackedbeefcake opened #60 "dependencies"
Yesterday out of nowhere my app stopped working.  it says `install.js: 101 Uncaught Error: Cannot find module './styles/new.sass'` in the console and when i restart meteor i get `App crashing'

[code]

I reinstalled the package, updated meteor, and updated npm dependencies. I think its basically #57 again despite the fix

[2016-07-25 13:31] akanix42 commented on #60
Hmm, that's quite strange for it to happen with no changes. I haven't released #57 yet (that will likely be later today), so its currently only available through Github. However, #57 was an issue with importing a file in a local package from another file in that package.
For your issue it seems like Meteor can't find the autoprefixer plugin. Please try reinstalling `autoprefixer`:
In the app direc

[2016-07-25 16:53] RafaelVidaurre commented on #57
@nathantreid this is fix is not up yet right?

[2016-07-25 16:54] crackedbeefcake commented on #60
I installed `prefixer` and it somewhat worked. The error is gone, but none of the styles are loaded.
I stripped my project down [and uploaded it here.](https://github.com/FinnFrotscher/css-modules-bugfix.git)

[2016-07-25 22:35] akanix42 commented on #57
@Narzerus This has just now been released in v2.1.1.

[2016-07-25 22:53] crackedbeefcake commented on #60
`install.js:101Uncaught Error: Cannot find module './styles/new.sass'`
i still get this error.
installed `autoprefixer` and all the `postCSS` plugins but it still doesnt work

[2016-07-26 21:11] RafaelVidaurre opened #61 "Cannot import from other packages"
The latest update apparently fixed the `compose` not working for packages. But I cannot do the following:

[code]

It apparently can't find the file on import:

[code]

[2016-07-27 04:40] akanix42 commented on #61
There are 2 issues here:
1. I wasn't checking to make sure a path was a file instead of directory, so importing `{francocatena:compass}/compass` attempted to import the `compass` directory instead of the `_compass.scss` file. This is now fixed.
2. `francocatena:compass` uses `fourseven:scss`. This means that my plugin cannot access its files unless it is installed locally and named appropriately.

[2016-07-27 05:12] akanix42 commented on #60
I wasn't able to reproduce the error. When I first ran your app, I received an error about node-sass, so I deleted the `node_modules` folder and ran `meteor npm install`.
After that the site loaded correctly, but the sass files weren't being transformed. This was due to the setting

[code]

which runs postcss without any plugins.

I removed that setting from the package.json, which returns it to t

[2016-07-27 06:09] RafaelVidaurre commented on #61
Thanks for thw quick reply, Ill see how it goes and update you here

On Wed, Jul 27, 2016, 12:40 AM Nathan Reid notifications@github.com wrote:

[2016-07-27 13:10] crackedbeefcake commented on #60
OK the issue is solved.
I did:
Deleted `node_modules` and `.meteor/local`
`meteor npm i -S node-sass postcss-simple-vars`
`meteor reset`
`meteor update` to 1.4
It works now.

[2016-07-27 13:10] #60 closed, assigned to nobody

[2016-07-27 18:31] clayne11 opened #62 "[2.1.1] Not compiling"
I'm using SCSS and Meteor `1.3.5.1`. Everything works fine in `2.1.0`. Updating to `2.1.1` and beyond causes the following:

[code]

[2016-07-27 23:26] akanix42 commented on #62
Can you update to `nathantreid:css-modules@2.1.4-alpha.4` and paste in the new error? I added exception logging for the Babel compiler. The output should be similar to this:

[code]

[2016-07-27 23:32] akanix42 commented on #55
[meteor/meteor#7390](https://github.com/meteor/meteor/issues/7390) is marked as fixed with the 1.4 release, so I'm closing this issue.

[2016-07-27 23:32] #55 closed, assigned to nobody

[2016-07-27 23:40] akanix42 commented on #62
Make sure to use `nathantreid:css-modules@2.1.4-alpha.4` - I initially said to use alpha.3, but I accidentally published that with the invalid character I was using to test the Babel error. :grimacing:

[2016-07-28 00:02] RafaelVidaurre opened #63 "Comments break compilation"
Adding `//` to a scss file throws:

[code]

[2016-07-28 00:06] RafaelVidaurre commented on #61
@nathantreid This works for me now, thanks. I have another (not-so-urgent) issue that I'm not sure everyone's getting as it is fairly common: #63

[2016-07-28 00:06] #61 closed, assigned to nobody

[2016-07-28 00:55] akanix42 commented on #63
Can you verify that you have node-sass installed?
I experienced this myself not long ago; it was caused by not having scss processing enabled but not having node-sass installed, so I added an additional error message:

[code]

I'm not sure why you wouldn't be getting that error message, but that's so far the only time I've seen this happen. The comments will be stripped out automatically when node

[2016-07-28 04:32] clayne11 commented on #53
There's a problem in Meteor 1.4 with PostCSS.

Tracking in https://github.com/meteor/meteor/issues/7493 and https://github.com/juliancwirko/meteor-postcss/issues/22.

For now you basically have to use Meteor 1.3 until this gets ironed out.

[2016-07-28 04:37] clayne11 commented on #62
[code]

[2016-07-28 04:44] clayne11 commented on #62
It seems to be unhappy with my use of `@value` I believe.

[2016-07-28 15:19] RafaelVidaurre commented on #63
Okay update on this: I installed node-sass on the _package_ directory as well. No errors are shown now with comments _BUT_ if I use `//` any style after it doesn't get applied. If I use multy-line comments `/* */` stuff works though.

Cannot make a repro repo for now though :/!

[2016-07-28 19:15] RafaelVidaurre commented on #63
This dissapeared after removing fourseven:scss from packages list

[2016-07-28 19:17] RafaelVidaurre opened #64 "Errors on scss files do not explain what happened"
Yet another thing is happening to me. For some reason, sass errors dunno throw an explanation of what is failing.

For example, if I reference  a variable or mixin that doesn't exist, I get:

[code]

Thanks for taking the time to reading through all of the issues I've posted

[2016-07-28 23:21] akanix42 commented on #62
Can you post the contents of `imports/ui/components/redux-form-components/components/withBuiltInTitle/styles.scss`?
It seems to be importing `../../form-component-mixins.scss` and as you may have noticed in the error output, the import path is for some reason surrounded with double single quotes: `import ''../../form-component-mixins.scss'';`

I'm not sure why that's happening; I _think_ I see how

[2016-07-28 23:34] akanix42 commented on #64
Can you update to v2.1.4 and see if that gives you the info you are looking for?

[2016-07-28 23:44] akanix42 commented on #63
How strange! When I add fourseven:scss to my main app (with nathantreid:css-modules included in the main app and SCSS compilation enabled), Meteor errors out. The same thing happens if I add `fourseven:scss` and `nathantreid:css-modules` to a local package.

[code]

[2016-07-29 00:04] RafaelVidaurre commented on #64
@nathantreid having a look

[2016-07-29 00:06] RafaelVidaurre commented on #64
@nathantreid Yes, extremely useful now. Thanks!

[2016-07-29 00:07] RafaelVidaurre commented on #64
(Line number is missing though, but other than that this is much better

[2016-07-29 03:57] #64 closed, assigned to nobody

[2016-07-29 05:28] helitack commented on #41
That sounds great! I assume that would all be in the app's package.json file?
It would be nice to keep config for a package inside of the package itself in case the package is used in multiple apps. Is it possible to stick the packageOptions for a specific package somewhere in the package? perhaps a package.json file or preferably, right in the package.js file?

[2016-07-29 05:53] akanix42 commented on #41
From what I know of `package.js`, the answer is no, but handling a `package.json` file inside the package should be doable.

If no css modules config is found inside the package, should it default to the default options or to the options specified in the app's package.json? I'm currently leaning strongly towards the latter, since all the package author would have to is define the following in orde

[2016-07-29 06:02] helitack commented on #41
I thought the `package.js` would be a reach. `package.json` is just as good.

I fully agree, I like your idea of merging the two as you mentioned above. I feel it would be excess config to do otherwise, and if it's easy enough to prevent with `"cssModules": {}` as you mentioned, then it should be totally fine.

Big +1.

[2016-07-29 06:30] #45 closed, assigned to nobody

[2016-07-29 06:34] akanix42 commented on #45
You can do this now!
package.json:

[code]

See the [package options wiki page](https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options) for more details.

[2016-07-29 06:47] akanix42 commented on #58
Thanks again for the pull request! I renamed `namingConvention` to `cssClassNamingConvention` since I just now also added `jsClassNamingConvention` (for camelCase #45 and eventually other options). I renamed `trimNameParts` to `replacements` and modified your implementation to use regular expression replacements.
You can still use it like you the original implementation, to remove the specified te

[2016-07-29 06:47] #58 closed, assigned to nobody

[2016-07-29 08:01] akanix42 commented on #53
From reading this issue and meteor/meteor#7493 I think there may be multiple issues going on.

I'm using a [test version of my React Toolbox example](https://github.com/nathantreid/meteor-react-toolbox-example/tree/test) and not noticing any problems with 1.4 (I use this one since it has to compile all of the React Toolbox sass, which is 67 files). The css modules build portion takes about 24 seco

[2016-07-29 10:04] hisayan commented on #41
I try to make my own package with 'nathantreid:css-modules'.

[code]

What should I do to use css-modules in own package ?

[2016-07-29 14:17] akanix42 commented on #41
@hisayan I'll publish the fix for that error later today.

[2016-07-29 15:22] cristiancedenogallego commented on #45
@nathantreid thanks

[2016-07-29 16:13] vinnyjth commented on #53
`package.json` contents.

[code]

meteor `versions` file.

[code]

[code]

EDIT: Computer specs:

[code]

[2016-07-29 18:32] davidwoody commented on #53
I'm on a MacBook Pro (15-inch, Late 2013, 16GB).

Here's the meteor profiler output.

[code]

And for Rebuild:

[code]

Not sure if this helps at all....

[2016-07-29 23:02] akanix42 commented on #62
I went ahead and made a release for this in case its that easy. Can you try this with `nathantreid:css-modules@2.2.2-issue62.1`?

[2016-07-29 23:10] akanix42 commented on #53
@davidwoody I think your issue may be more related to meteor/meteor#7493 given that my plugin is only taking 8 - 9 seconds, which is pretty close to both my own and @vinnyjth's benchmark.
@priezz's plugin time, on the other hand is 4 to 7 times longer that mine, so once I get more info hopefully I can address that.

[2016-07-29 23:11] akanix42 commented on #41
@hisayan you should be good now with v2.2.1.

[2016-07-29 23:12] clayne11 commented on #62
That worked, thanks.

[2016-07-29 23:16] akanix42 commented on #34
@JWo1F have you tried using https://www.npmjs.com/package/postcss-hash-classname for this? I haven't tried itself, but it looks like it should do the trick.

[2016-07-29 23:23] akanix42 commented on #62
Awesome! This is available in v2.2.2.

[2016-07-29 23:23] #62 closed, assigned to nobody

[2016-07-29 23:24] akanix42 commented on #9
This is a pretty old issue, so I'm going to close it for now. Feel free to reopen it if necessary.

[2016-07-29 23:24] #9 closed, assigned to nobody

[2016-07-30 00:04] akanix42 commented on #3
This was fixed somewhere along the way, and is currently working in v2.2.2.

[2016-07-30 00:04] #3 closed, assigned to nobody

[2016-07-30 00:06] #25 closed, assigned to nobody

[2016-07-30 00:34] akanix42 commented on #29
Have you tried this with the latest versions of Meteor and React Toolbox? Both have undergone quite a bit of changes so I'm wondering if this is still an issue.

[2016-07-30 00:36] akanix42 commented on #63
So to clarify, this eror was because you had both fourseven:scss and nathantreid:css-modules being used to process .scss files in a local package, but Meteor for some reason didn't display a conflict error?

[2016-07-30 02:55] hisayan commented on #41
Thanks. It was solved.

[2016-08-02 16:45] RafaelVidaurre commented on #63
This had to do with a script we were using to recursively call `addFiles` on each file in the package. Through that method this was happening for some reason. So not sure if actually related to the package in the end. There were just too many variables to correctly diagnose this

[2016-08-02 16:45] #63 closed, assigned to nobody

[2016-08-03 02:58] hisayan commented on #41
I have a problem.

It is ok that the css file in my own package. thanks.
but the css file in npm_modules in my own package doesn't work well.

This is my simple sample code.
https://github.com/hisayan/rfgtest

[code]

it works fine.

but interrupt this process ([ctrl]+c) and restart.

[code]

The css file 'flexboxgrid' in node_modules in my package is not load with your css-loader.
The css file is

[2016-08-05 08:59] Spiralis commented on #58
Excellent, @nathantreid ! :+1:

[2016-08-05 19:33] clayne11 commented on #53
Here's my profile output.

[code]

CSS module compilation is taking 20 minutes.

[2016-08-05 23:11] akanix42 commented on #53
@clayne11 can you post your package.json?

[2016-08-05 23:11] akanix42 commented on #41
@hisayan I should have time to look at that this weekend.

[2016-08-06 00:16] clayne11 commented on #53
Sorry I meant to do that earlier.

[code]

[code]

[code]

I also tried with `"specificArchitecture": "web"` and it wasn't any better.

I don't use `postcss-modules-local-by-default` because I have a ton of old SCSS that I haven't migrated to CSS modules, so I manually invoke `:local(.className)` in all of my new code.

[2016-08-07 22:55] akanix42 commented on #41
@hisayan This may be due to the way Meteor is hardcoding CSS support. in npm packages. I'll do some more digging but right now it's not looking too good until Meteor opens up the .css extension.

[2016-08-08 01:25] hisayan commented on #41
I appreciate it.
I pick up the CSS file from npm package and use it outside of npm package for now.

[2016-08-08 14:44] clayne11 commented on #53
Could you possibly add profiling for each PostCSS module individually? That way we can see which module is taking the longest and try to narrow it down some more.

[2016-08-08 15:03] clayne11 commented on #53
I cloned the repo and added profiling for each individual file. It doesn't look like any one is taking a crazy amount of time but I have a lot of SCSS files (354) so with them taking ~2 seconds each that's 12 minutes right there just in CSS module processing.

[code]

[2016-08-08 15:21] clayne11 commented on #53
Compare these times to Meteor `1.3.5.1`:

[code]

As a sidenote, caching would help immensely with large codebases like mine. I would love to see that feature added as soon as possible.

[2016-08-12 18:04] clayne11 commented on #53
Any update on this @nathantreid? Can I provide you with any other info?

[2016-08-12 22:55] akanix42 commented on #53
@clayne11 Sorry, nothing yet. I hope to really dig into this over the weekend. Thanks for all the info you've provided.

[2016-08-18 16:40] PolGuixe commented on #41
Is this related to why this package is not working in Meteor? https://github.com/roylee0704/react-flexbox-grid

[2016-08-19 05:56] akanix42 commented on #53
Just wanted to let you all know that caching is on the way. I've got it mostly implemented, but there are quite a few changes in the code, so I'm taking the time to also set up automated testing.

[2016-08-19 15:27] PolGuixe opened #65 "Failing at Sass import"
I am trying to do something as suggested here: https://github.com/react-toolbox/react-toolbox/issues/653

However my code is failing when I try to import the Sass variables.

My file is:

[code]

And used in globlas:

[code]

**Error:**

[code]

Any idea what I am doing wrong?

[2016-08-19 15:40] PolGuixe commented on #65
May it is also related, but I am unable to import one sass file into another in the same directory.

[code]

[code]

[code]

Error:

[code]

[2016-08-19 15:42] clayne11 commented on #53
That's great to hear! Thanks for the hard work.

Obviously I'd also love to see a fix for the insane build times I'm seeing, but caching will help to at least mitigate the issue.

[2016-08-19 16:38] PolGuixe opened #66 "How to set-up React-Flexbox-Grid"
I am having issues to set-up https://github.com/roylee0704/react-flexbox-grid
Errors:

[code]

and:

[code]

How it should be properly set up?

[2016-08-19 17:22] akanix42 commented on #66
CSS Modules is trying to process react-flexbox-grid's `doc` folder, which includes a sample app. You need to exclude this folder from processing. You most likely only care about the content of the src folder, so I recommend you also ignore the `spec` and `test` folders.
You can do this using the "ignorePaths" option (see [Package Options](https://github.com/nathantreid/meteor-css-modules/wiki/Pack

[2016-08-19 18:30] PolGuixe commented on #66
@nathantreid now the errors had stopped but the package is not working neither.

This is my configuration:

[code]

If I include `css` in extensions, then I get errors from a lot of other files that I will probably have to ignore.

Do you know which should be the configuration? Sorry I am a total CSS module noob.

[2016-08-22 12:04] ddeklerk opened #67 "Imports not working when using postcssPlugins"
Whenever I try to import my style sheets in JavaScript I get the normal object with the classnames inside. But if I add any postCSS plugins to the config in package.json, I get an empty object.

This is what my config for cssModules looks like:

[code]

I need to be able to use both css-modules and postCSS in order to use the cssnext branch of the react-toolbox repository.

[2016-08-22 12:51] akanix42 commented on #65
Both of those should work, can you post a repro on Github so I can take a look?

[2016-08-22 12:55] akanix42 commented on #66
Can you elaborate on "the errors had stopped but the package is not working neither."? Are you getting any errors now (if it builds successfully, also check the browser console).
Can you post a repro so I can take a look?
This should work without  `css` file parsing, as the files in `globalVariables` are read in directly.

[2016-08-22 18:31] akanix42 commented on #67
When using postcssPlugins, you are overriding the defaults, so you must ensure that you include the core css modules plugins. Please see [the PostCSS plugins section](https://github.com/nathantreid/meteor-css-modules#postcss-plugins) for more detail.

[code]

[2016-08-23 08:08] ddeklerk commented on #67
I must have read over that. With that added to my package.json the imports work as expected. However, any postCSS that I import in JavaScript does not get compiled. For that to work I would have to import in another CSS file, but that is not the case for any React-Toolbox components. As a result any of those components do not have the proper styling.

Again, I am using the css-next branch of React

[2016-08-23 12:56] akanix42 commented on #67
I think this will do the trick for you: `node_modules\/(?!react-toolbox\/)`. See here for an explanation: https://regex101.com/r/bJ6qC9/3#javascript.

[2016-08-23 13:18] ddeklerk commented on #67
I modified that string to `node_modules\/(?!react-toolbox\/lib\/)`, because I only need that folder, but it works now. Thanks.

[2016-08-23 13:18] #67 closed, assigned to akanix42

[2016-08-24 10:00] PolGuixe commented on #66
Basically the components did not have any class name. The class property was empty.

[2016-08-25 13:21] akanix42 commented on #66
OK, I've created [a working example](https://github.com/nathantreid/66-react-flexbox-grid).
It looks like the only big change is that you need to enable `css` file processing, so you will need to ignore the other files that are causing you errors (or if they are legacy CSS files that you application needs, use the `passthroughPaths` option to exclude them from CSS modules processing but still incl

[2016-08-25 18:47] oswaldoacauan commented on #53
Looking forward to caching :dancer:

[2016-08-25 23:27] akanix42 commented on #53
@oswaldoacauan I'm almost done with the caching implementation - I expect to have it out this weekend.
On a side note, using Webstorm's test runner to test Meteor packages is pretty awesome!

[2016-08-29 14:23] oswaldoacauan commented on #65
We are facing the same issue. Relative paths are working as indeed and the absolute ones are not working at all.

[2016-08-29 16:36] PolGuixe commented on #65
@nathantreid sorry for the delay. In this repo https://github.com/PolGuixe/react-toolbox-testing/tree/css-modules-scss-import-failing you can reproduce the error.

[2016-08-31 02:22] akanix42 commented on #65
@PolGuixe thanks! I'll take a look at this soon.

[2016-08-31 05:16] akanix42 commented on #53
I've published a beta version with caching enabled (`nathantreid:css-modules@2.3.0-beta.2.`); due to the number of changes, I would appreciate some assistance in real world testing. Note that Stylus processing does not work yet as I still have to update the Stylus processor. Sass and CSS _should_ be fully functional.

[2016-08-31 05:29] clayne11 commented on #53
I will be testing ASAP. Will report back tomorrow.

[2016-08-31 22:35] clayne11 commented on #53
Working great for me. I just updated to Meteor `1.4.1.1` as well and it seems like the insanely bad PostCSS performance I was having is gone.

Thanks!

[2016-09-01 00:17] clayne11 commented on #53
OK I lied. Meteor `1.4.1.1` still has the same performance problems with PostCSS.

[2016-09-02 16:16] oswaldoacauan commented on #53
Using the beta version I noticed:
- Build times are faster when chaning only SCSS files.
- Still slow when chaning JS/JSX files.

[2016-09-02 16:26] clayne11 commented on #53
Well that would make sense. SCSS is now cached, that's what the caching is for. Sounds like it's a success.

It's been working perfectly for me for the past two days.

[2016-09-05 11:02] wojtkowiak opened #68 "unit testing react components"
Hey,
I am using css modules in React components and was recently trying to unit test them. Any thought how I could possibly run a code that uses your package without meteor context? I mean that for example when using `enzyme` I just usually import my component and do some testing. Now it will fail because I am importing a `scss` which of course will not work without meteor and your package.
I am j

[2016-09-05 15:58] Spiralis opened #69 "Possible error on css-modules' dependencies?"
I am setting up one of my colleagues to help development on a project, but the project won't work on his computer. I have created a thread on this in the meteor forum [here](https://forums.meteor.com/t/meteor-build-error-cannot-find-module/28929), for reference.

The error looks like this:

[code]

The full error log is included here: [Meteor error log.txt](https://github.com/nathantreid/meteor-cs

[2016-09-05 17:24] akanix42 commented on #68
I take it you are doing your testing without using `meteor test`? my package is only intended to wor within the Meteor context; to approximate using it without Meteor, I guess you'd have to use something like webpack with mocha-webpack and use a different CSS modules loader.

[2016-09-05 17:26] akanix42 commented on #69
Nothing jumps out at me from that error - can you post a reproduction repo?

[2016-09-05 20:45] ChrisSalt commented on #53
Hi,

Unfortunately the beta doesn't work for me, my app gets stuck on startup "Processing files with nathantreid:css" (see below). I'm using react-toolbox, meteor 1.4.1 and 2.2.2 works great, albeit a little slowly.

[code]

[2016-09-07 06:53] wojtkowiak commented on #68
Yeah, I am trying to unit test my React components without Meteor context. It is just so much faster without Meteor.
Actually yesterday my team got it at least to the point where the test is compiled. They started with something like this in mocha. There will be some hassle to replicate fully the config we are using with your package but at least that's a good start. Maybe it would be useful to pu

[2016-09-07 10:09] Spiralis commented on #69
On his machine we were able to recreate this with a minimum amount of steps.
1. Run `meteor create demo`
2. `cd demo`
3. Add `nathantreid:css-modules` to the `.meteor/packages` file
4. Run `meteor`

The same error message as above is shown (without the initial error message related to the inclusion of a `.mss` file in the linked to log).

Could this be a Windows "path too long" issue? It is a bit

[2016-09-09 19:58] akanix42 commented on #69
It certainly seems like it could be a path too long issue, given the length of the path: `C:\Users\ole\AppData\Local\.meteor\packages\nathantreid_css-modules\2.2.2\plugin.mss.os\npm\node_modules\meteor\babel-compiler\node_modules\meteor-babel\node_modules\babel-preset-meteor\node_modules\babel-plugin-transform-es2015-unicode-regex\node_modules\regexpu-core\rewrite-pattern.js`.
But it seems odd the

[2016-09-09 20:04] akanix42 commented on #69
The issue doesn't appear to be with my package itself, so I'd recommend creating an issue over here: https://github.com/meteor/meteor/issues.

[2016-09-11 19:20] Spiralis commented on #69
Yes, indeed. This might just be a fluke thing though... Thanks.

[2016-09-11 19:20] #69 closed, assigned to nobody

[2016-09-20 20:48] judsonbsilva commented on #31
Works great! Thank you \* million, Nathan! +

[2016-09-26 08:38] SPAHI4 commented on #69
Same error too

[2016-09-29 23:24] shaunnez opened #70 "ignorePaths doesn't work?"
packages/nathantreid_css-modules/.2.2.2.1e9manq++os+web.browser+web.cordova/plugin.mss.os/npm/node_modules/meteor/mss/node_modules/postcss/lib/input.js:61:22:

"cssModules": {
      "ignorePaths": [
        "node_modules/convert-source-map/_",
        "node_modules/convert-source-map/"
      ],
      "extensions": [
        "scss"
      ],
      "globalVariables": [
        "node_modules/react-too

[2016-10-04 17:13] oswaldoacauan commented on #65
Any news?

[2016-10-04 17:13] oswaldoacauan commented on #53
Any news?

[2016-10-04 17:21] clayne11 commented on #53
The issue has improved massively in the betas of `1.4.2`. I expect it will go into RC very soon. @benjamn has made a lot of progress on build times in general for `1.4.2`.

[2016-10-05 13:53] s-ol commented on #53
@clayne11 `--release 1.4.2-beta.7` doesn't really improve it for me, the `Processing files with nathantreid:css...` just doesn't appear when it's a css-only change but it still takes a good 50s until `Client modified -- refreshing` appears and the page updates.

There's only two `.css` files in all of my project and I put `"node_modules"` into the `ingorePaths` option. My project is also otherwise

[2016-10-08 15:02] jason-curtis opened #71 "Error: Cannot find module './data/character-class-escape-sets.js' on Windows 10"
This issue has been posted previously with more detail here: https://forums.meteor.com/t/meteor-build-error-cannot-find-module/28929 by @Spiralis - I'm having the same issue which is apparently something to do with certain Meteor installations on Windows machines. Any help would be much appreciated.

Error message from `meteor run`:

[code]

[2016-10-10 04:00] jason-curtis commented on #71
Just tracked down a workaround:

I inspected the stack trace and found the location where it was looking for the missing file 'data/character-class-escape-sets.js'. For me that was C:\Users\Jason\AppData\Local\.meteor\packages\nathantreid_css-modules\2.2.2\plugin.mss.os\npm\node_modules\meteor\babel-compiler\node_modules\meteor-babel\node_modules\babel-preset-meteor\node_modules\babel-plugin-trans

[2016-10-14 07:32] wojtkowiak commented on #53
@nathantreid when are you planing to release the `2.3.0`?

[2016-10-14 17:32] clayne11 commented on #53
Just use the beta release. It's perfectly stable.

[2016-10-15 13:19] #66 closed, assigned to nobody

[2016-10-15 13:42] akanix42 commented on #53
@wojtkowiak 2.3.0 has now been released.

[2016-10-15 14:09] akanix42 commented on #65
I just created a PR on @PolGuixe's repo that fixes the error - but given that the error I received there was caused by an NPM package's test files, I'm not sure that that solves the original issue.

[2016-10-16 01:27] akanix42 commented on #71
I've updated to the latest package versions - can you try nathantreid:css-modules@2.4.0-beta.1?

[2016-10-16 15:42] jason-curtis commented on #71
Thanks for the response!
with the new version I'm getting a different error message:

[code]

Not sure why it's expecting there to be a `D:\node_modules` directory at all as my project is in a different subdirectory of `D:\`

[2016-10-16 19:24] FransTwisk opened #72 "Can't install on Sierra, Meteor 1.4.1.2, Node 4.6.0"
When adding the addon I get the following:

[code]

Tried reinstalling meteor, resetting, etc. Not sure if it's a problem of this addon or meteor itself...

[2016-10-17 07:07] FransTwisk commented on #72
Solved it. Issue seems to be a failing CDN provider. See https://github.com/meteor/meteor/issues/7806#issuecomment-253903512

[2016-10-17 07:08] #72 closed, assigned to nobody

[2016-10-18 19:56] gregorybleiker opened #73 "libsass problem"
Hi
I tried to update my meteor 1.4.2 beta13 and now I'm stuck... anybody have a pointer what might be wrong here? I've nuked .meteor in home and in project and node_modules etc... but to no avail. I'm on arch linux.

Any help welcome.

[2016-10-18 22:51] ChrisSalt commented on #73
I have exactly the same issue on linux mint.

I did find this, which is possibly related: https://github.com/sass/node-sass/issues/1579

But I've not had any joy with it yet. To be honest I'm not even sure where node_modules/meteor/mss/node_modules/node-sass/ is supposed to be?

[2016-10-19 05:50] gregorybleiker commented on #73
I haven't gotten anywhere either... for starters I don't know how to debug the meteor build process...

The only thing I found was that the meteor link in ~/.meteor/meteor still pointed to the 1.4.1.2 meteor. I manually changed it but it didn't change anything. BTW I was thinking the same about those weird paths...

[2016-10-19 07:54] johnf76 commented on #73
I'm getting the same thing.

[code]

[2016-10-19 10:44] wojtkowiak commented on #71
@nathantreid any idea why from version `2.3.0` your package has grown by ~180mb?
Here is a screenshot for `2.4.0` but the same applies to `2.3.0`.
![size](https://cloud.githubusercontent.com/assets/8668306/19515864/98fdd698-95f9-11e6-815d-ebd1b57d5ae6.png)
On Windows I have waited for 3 hours for the package to be extracted...

[2016-10-19 10:45] wojtkowiak commented on #71
All those extra mb are in `.npm/node_modules` - previously this dir was empty.

[2016-10-21 01:22] johnf76 commented on #73
Has anyone had luck with this?  I've stuck and having a tough go figuring out.  It looks like it might be an issue with node-sass being called within the plugin.

[2016-10-21 16:59] akanix42 commented on #71
I'll take a look, thanks for the heads up.

[2016-10-22 00:10] hmontes commented on #73
Same problem here.

[2016-10-22 15:57] hmontes commented on #73
@nathantreid Same error with the latest 1.4.2 RC (1.4.2-rc.2)

[2016-10-23 06:38] johnf76 commented on #73
Just an FYI for those still having the problem, I found it works when reverting back to version 2.2.2.  I'm on 1.4.2-rc.1

[2016-10-26 16:00] alexpricedev commented on #73
I'm getting the same issue on `1.4.2` public release.

[2016-10-26 16:41] akanix42 commented on #73
I'm traveling right now, but will look into this as soon as I can.

[2016-10-26 17:41] gregorybleiker commented on #73
Thanks @nathantreid
I tried to do some investigation, but failed miserably. I have no idea where this call stack comes from (any enlightenment very welcome) and have just for the sake of feeling a bit better opened a question on the meteor forum (https://forums.meteor.com/t/build-error-paths-how-to-interpret/30799).

[2016-10-28 04:01] Phaze1D opened #74 "Issue with meteor 1.4.2"
I get this error message when I try to add the package to meteor verison 1.4.2

/Users/david/.meteor/packages/meteor-tool/.1.4.2.5dcm3r++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/isopackets/ddp/npm/node_modules/meteor/promise/node_modules/meteor-promise/promise_server.js:190
      throw error;
      ^

Error: EBADF: bad file descriptor, fstat
    at Error (native)
 => awaited here:

[2016-10-29 07:15] pricetula opened #75 "Unable to install package"
Whenever i run meteor add nathantreid:css-modules i get the error shown below :-

.meteor/packages/meteor-tool/.1.4.1_1.1l5666a++os.linux.x86_32+web.browser+web.cordova/mt-os.linux.x86_32/isopackets/ddp/npm/node_modules/meteor/promise/node_modules/meteor-promise/promise_server.js:165
      throw error;
      ^
Error: ENOENT: no such file or directory, open '/tmp/mt-vweuwl/plugin.mss.os/program.jso

[2016-10-29 12:32] pricetula commented on #75
It was a cdn issue poor connection to blame

[2016-10-29 12:32] #75 closed, assigned to nobody

[2016-10-29 15:27] pricetula opened #76 "Unknown word during start up"
Errors emmited during startup of meteor app

   Processing files with nathantreid:css...  /
/~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Processing Step: CSS Modules / PostCSS compilation
Unable to compile /home/pricetula/METEOR/startupconnect/node_modules/convert-source-map/test/fixtures/map-file-comment-double-slash.css
CssSyntaxError: /home/pricetula/METEOR/startupconnect/node_modules/convert-source-

[2016-10-31 06:49] gregorybleiker commented on #73
Did some more digging... it seems to me that node-sass is included in the plugin for some reason (even though the readme says it is should be a user install). The mss_plugin.js seems to include a node-sass/lib/extensions.js, which is responsible for trying to find the binaries at the virtual path location.

[2016-11-01 17:11] gregorybleiker commented on #73
OK, more digging... downloading the package from github and putting it in a (newly created) <packages> directory in my meteor app directory made version 2.3.0 work for me. This makes me belive that something went wrong while creating the npm package...

[2016-11-01 22:41] croogie commented on #74
The same here! +1

[2016-11-03 18:51] neopostmodern commented on #73
@gregorybleiker could you explain this more in detail? I'm having trouble following your steps, mainly, what is "the package" and which "(newly created) directory"?

[2016-11-04 08:33] gregorybleiker commented on #73
@neopostmodern:
As an example: your meteor app is located under /somedir/yourapp

/somedir/yourapp will have directories like client/, server/, imports/ and so on. In /somedir/yourapp create the directory packages: /somedir/yourapp/packages

In /somedir/yourapp/packages clone the github of 2.3, so you should end up with the contents in /somedir/yourapp/packages/nathantreid_css-modules

Then in /so

[2016-11-04 21:50] tjramage commented on #74
I also get the same problem. Have reinstalled Meteor twice. You can reproduce this by creating a new Meteor project and adding this package.

[2016-11-04 22:44] tjramage commented on #74
Managed to find a workaround for the meantime. I installed node v7 (with NVM) and set it as my default node alias. Downloaded the contents of this repo and placed it in `/packages/nathantreid_css-modules` folder. Finally had to add `"ignorePaths": ["node_modules"]` to the CSS modules config in my `package.json` (it was picking up SCSS tests within the package itself!?) and now it's finally working

[2016-11-07 16:49] neopostmodern commented on #73
Mh, strange. Doesn't work for me.

Prior to your steps I get this error:

[code]

Then I do `(cd packages && git clone https://github.com/nathantreid/meteor-css-modules.git)` and the next error is:

[code]

Then `rm -rf .meter/local` and the next error is:

[code]

Then `(cd packages/meteor-css-modules/ && yarn)` and  a few more `rm -rf .meter/local` and the next error is:

[code]

Can't get beyon

[2016-11-07 18:30] gregorybleiker commented on #73
At least it seems to be picking up the version in packages...
But for me its core dumping on me now as well... more or less out of nowhere (ie. running yesterday, broke today)... maybe you can get around it by setting some stuff in package.json for the css-modules, but personally I'm so frustrated I'm going on an Elixir spree...
maybe I'll check back in a few months, but up to now the meteor exper

[2016-11-09 09:06] mmskvortsov commented on #74
I get the same error. Mac Sierra 10.12.1, Meteor 1.4.2

[2016-11-09 18:04] akanix42 commented on #74
I haven't been able to reproduce this, but I did mess up the publish of 2.3.0. Please give nathantreid:css-modules@2.3.1 a try. Thanks!

[2016-11-09 18:06] akanix42 commented on #76
I messed up the publish of 2.3.0. Please give nathantreid:css-modules@2.3.1 a try. Thanks!
If that doesn't work, you'll want to add an [ignorePaths setting](https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options) to avoid processing the `node_modules/convert-source-map/test` directory.

[2016-11-09 18:09] akanix42 commented on #73
@gregorybleiker Thanks for all the digging you did. I messed up the publish of 2.3.0, and have just published 2.3.1 to address that. Please give it a try!

[2016-11-09 18:14] akanix42 commented on #71
I messed up the publish of 2.3.0. The package is back down to a normal size now in nathantreid:css-modules@2.3.1. Please give that a try.

[2016-11-09 18:14] Phaze1D commented on #74
Yup it work. I think it was 2.3.0
Thanks

[2016-11-09 18:15] #74 closed, assigned to nobody

[2016-11-09 19:23] wojtkowiak commented on #71
@nathantreid, thanks will try it tomorrow.

[2016-11-10 12:19] neopostmodern commented on #73
Causes SIGSEGV. If I remove the package it runs well. Re-adding causes SIGSEGV.
Can't figure out how to look at the dump unfortunately.

_Setup: Meteor `1.4.2.1` on Ubuntu `16.04`, `nvm` defaults to `7` (switching to `6` makes no difference)._

[2016-11-12 12:27] StGeass opened #77 "Error with less package in node_modules"
When i try start project with installed Less package, i got this error:

[code]

[2016-11-12 12:59] StGeass commented on #77
Or i should add `node_modules` to `ignorePaths`?

[2016-11-12 15:39] StGeass commented on #44
@skirunman https://github.com/nathantreid/meteor-css-modules/pull/78

[2016-11-14 06:12] sunlee-newyork opened #79 "Can't find module with "specificArchitecture": "os" option"
I was able to reproduce a `Can't find module ./[NAME].scss` error when using the `"specificArchitecture": "os"` option. It works fine with `false`.

Here is the call stack:
[code]

This is my `package.json` setup:
[code]

This is my meteor `packages` setup:
[code]

[2016-11-16 15:22] akanix42 commented on #77
Yes, add either `node_modules` or `node_modules/less` to the ignorePaths. This is an unfortunate restriction due to the way Meteor processes files (it pulls in every file with that extension regardless of whether it's used in the project).

[2016-11-17 02:45] wesleyfsmith commented on #73
I have the same issue. For now sticking with fourseven:scss

[2016-11-23 16:01] #77 closed, assigned to nobody

[2016-11-23 22:22] dgroch opened #80 "How do you supply browser list when using autoprefixer?"
When using the postcss plugin autoprefixer, how do you supply the browser list?
Is it done via the options hash in package.json?

eg

[code]

[2016-11-24 13:01] akanix42 commented on #80
What you have looks right at a glance - is it not working for you?

[2016-11-26 00:36] dgroch commented on #80
Yup. I think it's working fine as I see prefixes everywhere!

[2016-11-26 00:36] #80 closed, assigned to nobody

[2016-11-26 18:07] alexpricedev commented on #73
I've just updated to the latest of `meteor`, `meteor-css-modules` and `node-sass` and the `scss` extension seems to be working perfectly now!

[2016-11-26 18:22] alexpricedev commented on #73
Oh.. Now I'm doing this:
[code]

and I'm getting the segmentation fault again...

EDIT:
This seems to work fine for now though: `import '@blueprintjs/core/dist/blueprint.css';`

[2016-11-28 09:38] neopostmodern commented on #73
Doesn't work for me, even when cloning from GitHub. Still SIGSEGV.

[2016-11-30 18:11] yanickrochon commented on #76
Doesn't work for me.

[code]

## Edit

Here is the faulty CSS

[code]

(**Note**: the last line is the one at fault. Not sure why they wrote that one there.)

[2016-12-03 12:07] Furqankhanzada opened #81 "Segmentation fault: 11th nathantreid:css... \"
I am getting this error after updating to METEOR@1.4.2.3

![screen shot 2016-12-03 at 5 00 11 pm](https://cloud.githubusercontent.com/assets/2400215/20859222/7fe26058-b97a-11e6-9db0-9564faa38c36.png)

when i remove this error goes but project not run cos its required when we use react toolbox with meteor.

[2016-12-04 23:20] derzinn commented on #81
Same here.

[2016-12-06 16:40] Furqankhanzada commented on #81
@derzinn any luck ?

[2016-12-06 22:09] #68 closed, assigned to nobody

[2016-12-12 01:37] dgroch opened #82 "How to include generated class names in acceptance tests?"
We are using chimp to run acceptance tests
I was hoping there is away to generate the class names in our tests?
Eg AppLayout_classname

[2016-12-12 01:48] akanix42 commented on #76
In this case, you'll need to use [ignorePaths](https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options) because the faulty CSS is from an npm package; the only option here is to skip it.

[2016-12-12 01:52] akanix42 commented on #81
@Furqankhanzada Can you post a reproduction repo on github? I don't experience the error when I create a new app with meteor create and add nathantreid:css-modules, so a reproduction would make it much easier to dig into this. Thanks!

[2016-12-14 13:01] Furqankhanzada commented on #81
@nathantreid clone this repo https://github.com/AppBakerZ/FinanceBakerZ and update meteor version to latest. then you will be able to reproduce error.

[2016-12-23 12:59] neopostmodern commented on #73
@nathantreid - any word if this will fix? If not, can you recommend an alternative?

[2016-12-23 21:29] johnf76 commented on #73
The old version works for me, but super slow on my larger app to build & rebuild.   I get the same issue as you with the current version

On Dec 23, 2016, 04:59, at 04:59, neopostmodern <notifications@github.com> wrote:

[2016-12-23 22:23] akanix42 commented on #73
I'm planning to really dig into this over Christmas break (so next week). Without having looked into it, I think the issue you are now having is the same as #81.

[2016-12-28 23:07] neopostmodern commented on #73
Maybe related to https://github.com/sass/node-sass/issues/1757?

[2017-01-27 16:16] Furqankhanzada commented on #81
Its no more with latest meteor version.

[2017-01-29 16:38] akanix42 commented on #53
Meteor 1.4 made a lot of performance improvements, so I'm going to close this now.

[2017-01-29 16:38] #53 closed, assigned to nobody

[2017-01-29 16:40] akanix42 commented on #71
I'm going to close this since from what I know it should have been resolved and there hasn't been any activity in a while. Feel free to reopen it if you need to.

[2017-01-29 16:40] #71 closed, assigned to nobody

[2017-01-29 16:41] akanix42 commented on #73
Is anyone still experiencing this after taking into account sass/node-sass#1757?

[2017-01-29 16:46] akanix42 commented on #70
Are you still experiencing this issue with the latest version of the package? If so, feel free to reopen this issue.
If you do reopen the issue, please provide the following info:
1. What you are trying to do.
2. What is actually happening.
3. If possible, a github repo containing a reproduction so I can quickly see the issue for myself.

Thanks!

[2017-01-29 16:46] #70 closed, assigned to nobody

[2017-01-29 16:47] akanix42 commented on #65
Closing due to no response. Feel free to reopen if you are still experiencing issues with this.
Thanks!

[2017-01-29 16:47] #65 closed, assigned to nobody

[2017-01-29 16:48] akanix42 commented on #15
Fixed in 2.3.0.

[2017-01-29 16:48] #15 closed, assigned to nobody

[2017-01-29 16:49] akanix42 commented on #76
Any word on this? I'm going to close this issue due to inactivity, but feel free to reopen it if you're still experiencing the issue.

[2017-01-29 16:49] #76 closed, assigned to nobody

[2017-01-29 16:50] #81 closed, assigned to akanix42

[2017-02-01 00:41] akanix42 opened #83 ""Cannot convert undefined or null to object" with postcss-simple-vars"
The error occurs when the `globalVariables` option is also in use and the postcss-simple-vars config is empty or has an empty fileOptions array:
[code]

[2017-02-01 09:15] arggh opened #84 "Documentation and warning message improvements"
Trying to set up CSS Modules, I stumbled on these issues that I couldn't find mentioned in the docs:

- What's the difference between using `globalVariables` or `fileOptions` in simple-vars plugin's configuration
- The order of declared styles matters, when composing in the same file
[code]
- The instructed install command for `node-sass` should specify the required version like this `meteor npm i

[2017-02-02 07:08] arggh opened #85 "CSS Modules alternative"
https://github.com/tivac/modular-css

That seems to be a spin off from CSS Modules, with extended functionality, like `:external`, which solves the biggest gripe I have about using CSS Modules.

Just out of curiosity, have you bumped into this library or how big of a task would it be to make the switch?

[2017-02-02 20:57] akanix42 commented on #85
I hadn't seen that before - one big missing feature that I see right now is a way to control the import process. It looks like modular-css does this for you, whereas the css modules parser lets you pass in your own function to determine how paths will be loaded.
I'm not sure if that will prevent it from working with Meteor; if that plugin works fine with Meteor's paths then I think it would be fin

[2017-02-12 11:00] arggh opened #86 "Path resolution with composes"
Right now I have to provide an exact relative path to `composes`, like this:

[code]

Wouldn't it be nice to be able to declare the files or folders to search for, if the given path fails?

[code]

Or is this already possible somehow?

[2017-02-16 18:10] zobroj commented on #76
Just a note that this fixed this problem. I had to ignore "node_modules" in my project. Thanks for the great package.
[code]

[2017-02-22 19:12] arggh opened #87 "Problem with reloading or caching"
I've been experiencing this for a while now. The styles-objects I import from `m.css` files sometimes stop reloading.

1. Coding happily
2. Suddenly my CSS declarations seem to have no effect whatsoever
3. `console.log(styles)` -> wrong/old object keys!
4. making changes to the `html`, `js` or `m.css` has no effect
5. kill meteor and restart
6. works again

It might have something to do with renam

[2017-02-24 14:21] neopostmodern commented on #73
Yes, I think it's still occurring for me. I rebuilt the node-sass package using [these commands](https://github.com/sass/node-sass/issues/1757#issuecomment-255518477).

I commented the `nathantreid:css-modules` line, started the meteor app, everything is fine (except no styles), uncomment the package, SIGSEGV.

[code]

[2017-03-01 19:07] RobAWilkinson opened #88 "Extremely Slow build times"
I'm seeing extremely slow build times, my profile is below. It seems like css modules is the culprit:

[code]

[2017-03-01 19:12] akanix42 commented on #88
This doesn't look like a CSS modules issue to me - the build plugin is only taking 191 ms:
`|    │     │  ├─ plugin nathantreid:css-modules                   191 ms`
It looks like most of your time is being spent here, in the Meteor CSS bundler/minifier:
`|    │     └─ ClientTarget#minifyCss...........................61,069 ms (1)`
What version of Meteor are you running? CSS minification has been

[2017-03-01 19:14] RobAWilkinson commented on #88
`.meteor/release` METEOR@1.4.2.3

This is a pretty big project, is there a chance it is parsing css thats not imported in node_modules folder?

[2017-03-01 20:21] fede-rodes opened #89 "CSS-Modules + Ant-design"
Hi Nathan,

I just started playing with CSS Modules, and was wondering if it's possible to use it along with ant-design (https://ant.design/). Ant is written in less, so not sure if this an issue... Below I copied my package.json, when I try to run my app using both CSS-Modules and ant design, it gets stuck at 'Processing fields with nathantried:css...' Any thoughts?

Thanks for your time and hard

[2017-03-01 20:23] akanix42 commented on #88
Yes, Meteor will automatically pull in all .css files. If you are using this package to handle .css files, then you can ignore all the files under node_modules using the "ignorePaths" option in your package.json (see [the Wiki for more info](https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options)). Here's an example to ignore the whole node_modules folder:
[code]
Meteor will still

[2017-03-01 20:26] akanix42 commented on #89
I think it should work (I don't see why not)... can you post a reproduction repo so I can take a look using your set up?

[2017-03-01 23:06] fede-rodes commented on #89
Hey @nathantreid many thanks for your quick reply :)

Here is the repo: https://github.com/fede-rodes/css-modules-ant-design

you'll need to run: 'meteor --settings settings-dev.json' after installing the NPM dependencies. In my case, it get stuck processing the files :(

[2017-03-03 23:38] akanix42 commented on #89
I haven't yet looked into what exactly is causing the failures, but I was able to get the app running with the following ignore paths:
[code]

The first path expression deals with issues caused by a few of the `react-` packages including their docs, examples, tests, etc in the npm package. This has caused a lot of failures for a lot of people, so I'm considering making it a default setting; in thi

[2017-03-04 02:46] RobAWilkinson commented on #88
adding node_modules fixed this, awesome

[2017-03-04 02:46] #88 closed, assigned to nobody

[2017-03-04 14:25] fede-rodes commented on #89
Awesome! I can go from there :)

I'll let you know if I get some improvements.

Thanks

[2017-03-05 12:11] fede-rodes commented on #89
BTW: it's probably a good idea to ignore node modules by default, because it's pretty disconcerting when you get those error on the console. I remember that I tried the package 3 or 4 times before getting it to work due to those errors. So, I think that would be of great help for the package to be more widely used :)

[2017-03-05 17:31] akanix42 commented on #73
@neopostmodern Sorry for the delayed response; when you rebuilt using this command:
[code]
Did you adjust it for Meteor? All npm, node, or yarn commands should be prefixed with meteor (or you can just use nvm to switch to the meteor node version). In this case, it should be `meteor node scripts/build -f `.
Otherwise based on your post you'll be rebuilding it using node 7 but the latest version of

[2017-03-13 19:59] neoromantic opened #90 "Can't get React-toolbox 2 working"
So, I'm trying to get react-toolbox 2.0 with meteor 1.4 and meteor-css-modules 2.4.0 working, and can't get styles to import.

Here's test repository: https://github.com/neoromantic/meteor-cssmodules-reacttoolbox

Basically, I can import react-toolbox component, but it appears unstyled.

If I add node_modules/react-toolbox to ignorePaths all is working, but there is no styles. I assume that's what

[2017-03-13 20:05] neoromantic commented on #90
I also get errors like this:

=> Errors prevented startup:

   While minifying app stylesheet:
   app/node_modules/react-toolbox/lib/app_bar/theme.css.css:409:5: missing '}'
   app/node_modules/react-toolbox/lib/autocomplete/theme.css.css:380:5: missing '}'
   app/node_modules/react-toolbox/lib/avatar/theme.css.css:380:5: missing '}'
   app/node_modules/react-toolbox/lib/button/theme.css.css:380:5

[2017-03-13 20:30] akanix42 commented on #90
Thanks for supplying the test repo, I'll take a look at this soon.

[2017-03-13 22:39] neoromantic commented on #90
Thanks a lot! Waiting eagerly, we're choosing our frontend stack right now and I hope that we'll be able to use react-toolbox in this project.

[2017-03-14 03:32] akanix42 commented on #90
It appears the react toolbox documentation isn't up to date. I poked around and looked at the [1.x example](https://github.com/react-toolbox/react-toolbox-example/blob/master/postcss.config.js), then added the following plugins: postcss-import, postcss-each, postcss-mixins. I don't know if postcss-import is required, but I saw both the mixins and each being used. The error you received is caused b

[2017-03-14 11:21] neoromantic commented on #90
@nathantreid Thank you so much! It actually works!

[2017-03-14 11:21] #90 closed, assigned to akanix42

[2017-03-14 11:44] neoromantic commented on #83
I've stumbled upon this problem too. Is there any workaround? My current config is like this:

[code]

And style-globals.json is:

[code]

I get the same error you mentioned. As you can see, I tried to add fileOptions, so it isn't empty, but error stays.

[2017-03-14 11:52] neoromantic commented on #83
I've tried to remove globalVariables, leaving only fileOptions, but it's all the same.

[2017-03-14 12:27] neoromantic commented on #83
Actually, I get same error whenever I try to use explicitIncludes for react-toolbox. and ignorePaths on whole node_modules folder. Simple-vars configuration is irrelevant.

[2017-03-14 12:28] neoromantic commented on #83
And I try to use explicitIncludes instead of just including whole node_modules without tests, because of very long compilation time if I do that.

[2017-03-14 12:30] neoromantic commented on #83
So, when I do that:

[code]

I get that:

[code]

[2017-03-14 13:35] neoromantic commented on #83
Any ideas on how could I use explicitIncludes? Because including whole node_modules leads to very slow compilation time.

[2017-03-14 14:24] akanix42 commented on #83
There's a bug in `explicitIncludes`; I'll publish a fix later, but `explicitIncludes` is really a holdover from the days before Meteor supported importing files from `node_modules`. I'd recommend modifying your `ignorePaths` option instead to the following regular expression which will ignore all `node_modules` except the `react-toolbox/lib` folder:
[code]

[2017-03-17 15:39] neoromantic opened #91 "Long build times"
So, I have quite small (yet) project, built with latest Meteor, meteor-css-modules and react-toolbox.

Currently, build (meteor build) time on my latest MacBook pro is ~5 minutes, half of which is taken by nathantreid:css-modules.

Is there any known way to improve build speed?

[2017-03-17 15:55] neoromantic commented on #91
[code]

Here's what I get from build profiler. As you can see, nathantreid:css-modules takes >50% of build time, more than 3 minutes.

All I have in my project is maybe 10 css files + react-toolbox.

node_modules folder is excluded like this:

[code]

Any guidance?

[2017-03-18 01:45] akanix42 commented on #91
That's insanely long! I haven't seen any build times like that yet but I'm aware of some others experiencing that issue with node_modules. What's your build time for https://github.com/neoromantic/meteor-cssmodules-reacttoolbox?

[2017-03-18 12:51] neoromantic commented on #91
Overall build time is about 40-60 seconds, nathantreid:css-modules takes only 3 seconds of that time.

[2017-03-19 02:28] akanix42 opened #92 "explicitIncludes option doesn't work"
Reported by @neoromantic (moved from #83 )
So, when I do that:

[code]
I get that:

[code]

[2017-03-19 02:56] akanix42 commented on #91
Can you please set
[code]
in your `package.json` and report the console output when you run your project? That should help to narrow down where the bottleneck is occurring.

Thanks!

[2017-03-23 17:29] neopostmodern commented on #73
Oh, I in fact hadn't. Unfortunately, it still throws the same error when prefixing it accordingly.

[2017-03-23 18:01] neoromantic commented on #91
I'm sorry for long answer, got caught up in work.

Anyway, I can't put my finger on what's happened, but currently my build time is adequate. Dunno what changed exactly, will monitor this issue for some time.

[2017-03-23 18:03] neoromantic opened #93 "Upgrading node-sass to version 4?"
Is there any particular reason that meteor-css-modules requires node-sass 3 instead of current version (which is 4)?

There are several unrelated reasons of which I have to use node-sass4. So i get this warning:

[code]

Things works good with 4.5.1. Is there a reason to require v3?

[2017-03-23 19:54] akanix42 commented on #93
No, it seems to work fine - I just need to release a patch that adds v4 to the supported versions.

[2017-03-23 22:55] seunlanlege opened #94 "TypeError: Cannot read property 'render' of null (Usage With Stylus)"
Hi @nathantreid thanks for this great package, it works well with css, but when i tried to use it with stylus i keep getting this error.

[code]

**and here's my package.json**

[code]

[2017-03-24 13:48] neoromantic commented on #93
That’s great! Waiting for that patch :)

Sergey.

[2017-03-27 04:01] thearabbit opened #95 "Problem with style when install this!!!"
I use bootstrap for my project, it work fine first.
But when I installed this, It don't have any style

![image](https://cloud.githubusercontent.com/assets/4495160/24340476/9af21634-12dc-11e7-9025-fc6be5ebc5cc.png)

My packages
[code]
Please help me.

[2017-03-27 12:20] akanix42 commented on #93
This has been fixed in v2.5.2.

[2017-03-27 12:20] #93 closed, assigned to nobody

[2017-03-27 12:26] akanix42 commented on #95
Are you able to provide a reproduction repo? That should enable me to quickly find the issue.

[2017-03-27 13:11] akanix42 commented on #94
Thanks for the report - this has been in fixed in v2.5.3.

[2017-03-27 13:11] #94 closed, assigned to nobody

[2017-03-27 13:13] akanix42 commented on #44
Closing because the PR was merged months ago but I forgot this issue.

[2017-03-27 13:13] #44 closed, assigned to nobody

[2017-03-28 10:30] dnish opened #96 "Segmentation fault: 11th nathantreid:css..."
Hey,
when I add the following to my package.json, my Meteor app exists with the error above:

    "cssModules": {
    "extensions": ["scss"]
     }

App crashes:

    Segmentation fault: 11th nathantreid:css...

[2017-03-28 14:07] dnish commented on #96
Was a configuration error

[2017-03-28 14:07] #96 closed, assigned to nobody

[2017-03-28 14:09] dnish opened #97 "Imported SCSS files are not merged with final CSS file?"
Hey,
if I import some .scss files within my React components (all files are saved in /imports), the styles are not appended to the merges css file, instead I have a lot of inline style tags with all of my renamed classes. Is this the normal behavior when using css modules?

[2017-03-28 15:30] akanix42 commented on #97
This is normal behavior for Meteor when using css (scss, etc) files in the imports directory.

[2017-03-28 15:36] dnish commented on #97
Ah okay, I just thought that the plugin bundles it.

[2017-03-28 15:36] #97 closed, assigned to nobody

[2017-03-28 15:56] fede-rodes commented on #89
Hey @nathantreid,

I'm closing the issue since Ant + CSS-Modules is working great for me :)

Here is an example repo in case someone wants to take a look at the package.json config: https://github.com/fede-rodes/pickupgames

Thanks!

[2017-03-28 15:56] #89 closed, assigned to akanix42

[2017-04-20 07:56] d4lek opened #98 "Can this be used on angular 1?"
Hi, just wondering if this package could be used on Angular 1?

Thanks

[2017-04-21 16:41] neoromantic opened #99 "Can't get SSR to work: "modules.addStyles is not a function""
So, there was an issue just like I have now: https://github.com/nathantreid/meteor-css-modules/issues/13

I get this error:

[code]

My package.json looks like:

[code]

[2017-05-03 22:29] akanix42 commented on #98
I haven't tested this with Angular 1, but I don't see any reason why it wouldn't work. It should be usable with anything that allows you to pass in class names via javascript.

[2017-05-11 08:03] wojtkowiak opened #100 "building stuck for infinity"
Repro:
[code]

I have a one `main.scss` in which I am import scss from other package:
[code]
When I remove this import build is working. When I paste the contents of that file to `main.scss` it also works. But when I add this import building css-modules seems to be stuck. I have left it for 40 minutes and nothing happend. It's just stuck on:
[code]
The `|` spinner does not even spin ;)

[2017-05-11 18:18] akanix42 commented on #99
I'm looking into this.  From what I recall the error is caused when a build plugin tries to add a stylesheet when you're building on the server platform (instead of the web platform). However, I have specific checks in place for that...

[2017-05-11 18:21] akanix42 commented on #95
Most likely the issue here is that you are using the bootstrap .css file, which is now being processed by CSS modules. To prevent this, follow the instructions here: https://github.com/nathantreid/meteor-css-modules/wiki/Using-with-CSS-files-that-don't-support-CSS-modules.
If that doesn't work, let me know!

[2017-05-11 18:23] akanix42 commented on #86
This isn't currently possible, but you can use absolute paths instead of relative paths. If `styles` is under your Meteor project root, you can do this:
`composes: rounded from '/styles/shared/button.m.css';`

[2017-05-16 12:20] wojtkowiak commented on #100
Did you have any moment to look at it?

[2017-05-17 01:30] akanix42 commented on #100
I've done a little digging. So far I've determined that it's freezing after importing that file... which of course we already knew. I'll try to take a further look tomorrow.

[2017-05-17 03:09] akanix42 commented on #100
Got it! You have two options:
1. Adjust your CSS modules settings in package.json to not ignore the blueprint files:
old:
[code]
new:
[code]
2. Update to `nathantreid:css-modules@2.5.4-beta.3`, which includes [2 fixes for the issue you experienced](https://github.com/nathantreid/meteor-css-modules/blob/master/CHANGELOG.md#vnext) (one fixing the freezing, the other adjusting the logic so it won't e

[2017-05-21 09:31] arggh opened #101 "Composes broken after v2.5.4"
I just updated to `Meteor@1.5-rc.6` and `css-modules@2.7.1`.

Upon initial startup, I get approximately 60 lines of this while CSS is being mangled:

[code]

Also, most of my CSS styles are missing. Weirdly, some are not. After initial startup, the error messages are gone, until I run `meteor reset`.

The project used to work fine `with Meteor@1.4.2.3` and `css-modules@2.3.1`.

[2017-05-21 09:46] arggh commented on #101
Further study showed that the class names get properly generated and even the styles defined in CSS files work, but `composes` is broken. It doesn't matter if I use relative or absolute paths.

[2017-05-21 10:12] arggh commented on #101
I did some more research and pinpointed the issue to have emerged at `v2.5.4`. Before that it seems to work fine, also with Meteor `1.5-rc.6`.

[2017-05-21 16:02] akanix42 commented on #101
Thanks, I'll take a look ASAP.

[2017-05-23 02:59] akanix42 commented on #101
I've been checking this in my test app, but can't reproduce it so far. I'll try it with the sample app tomorrow.
Could you post the contents of your `package.json`?
Thanks.

[2017-05-23 03:01] akanix42 commented on #100
This was fixed in the 2.5.4 release.

[2017-05-23 03:01] #100 closed, assigned to akanix42

[2017-05-23 03:02] akanix42 commented on #99
This was fixed in the 2.5.4 release.

[2017-05-23 03:02] #99 closed, assigned to akanix42

[2017-05-23 03:02] #98 closed, assigned to nobody

[2017-05-23 03:03] akanix42 commented on #98
If you run into any issues using this package with Angular, please let me know. I'm going to close this for now.

[2017-05-23 03:07] akanix42 commented on #92
This was fixed in v2.5.0.

[2017-05-23 03:07] #92 closed, assigned to nobody

[2017-05-23 05:38] arggh commented on #101
Sure! Here are the relevant bits:

[code]

And a sample of a CSS definition that failed:

[code]

[code]

[2017-05-23 06:36] wojtkowiak commented on #100
@nathantreid big kudos for you. I just checked it last evening and it works correctly now. Huge thanks for your time!

[2017-06-01 06:43] shenrenguo opened #102 "Cannot work with meteor 1.6-alpha.0"
Today, I upgrade to 2.7.3 from 2.7.1 , then the following errors were encountered.

`=> Running Meteor from a checkout -- overrides project version (Meteor 1.4.4.2)
...

=> Started proxy.
=> Errors prevented startup:

   While processing files with nathantreid:css-modules (for target web.browser):
   native: Constructor Map requires 'new'
   at FileMap.Map (native)
   at new FileMap (packages/mss/

[2017-06-01 17:14] akanix42 commented on #102
We're not receiving this error on Meteor 1.5, so my guess would be that this is a bug in the Meteor beta that you're using. Are you able to try this with 1.5? If the beta is the issue, you'll want to report it on the Meteor repo.

[2017-06-01 23:29] akanix42 commented on #101
This was fixed in v2.7.2. It only occurred if the file being composed hadn't already been processed on it's own (so it was file load order dependent).

[2017-06-01 23:29] #101 closed, assigned to akanix42

[2017-06-01 23:32] akanix42 commented on #91
I'm going to close this for now since it's been idle for a while. I suspect this was fixed in [v2.5.4](https://github.com/nathantreid/meteor-css-modules/blob/master/CHANGELOG.md#user-content-254---2017-05-17).
Feel free to reopen it if you continue to run into performance issues.

[2017-06-01 23:32] #91 closed, assigned to nobody

[2017-06-02 05:41] arggh commented on #101
Thanks for the fix!

[2017-06-02 13:15] shenrenguo commented on #102
@nathantreid ,
I try this with 1.5, it works correct.
But with 1.6-apha.0, it reports above error.

which is the source of the problem?
I have report it in meteor repo.

[2017-06-06 09:04] shenrenguo commented on #90
@nathantreid
I cloned @neoromantic ‘s test repo, and upgrade to meteor 1.5，also installed postcss plugins you mentioned above. But, still  appears unstyled.

here is the test repo [https://github.com/shenrenguo/meteor-cssmodules-reacttoolbox.git](https://github.com/shenrenguo/meteor-cssmodules-reacttoolbox.git)

[2017-06-07 05:57] shenrenguo opened #103 "appears unstyled with react-toolbox 2.0 + meteor 1.5"
@nathantreid
I cloned @neoromantic ‘s [test repo #90 ](https://github.com/nathantreid/meteor-css-modules/issues/90), and upgrade to meteor 1.5，also installed postcss plugins you mentioned above. But, still appears unstyled.

here is the test repo https://github.com/shenrenguo/meteor-cssmodules-reacttoolbox.git
 can you give me some help?

[2017-06-08 08:39] neoromantic commented on #103
I have troubles with getting react toolbox with css modules and meteor 1.5 to work too.

It appears unstyled.

Отправлено с iPhone

[2017-06-09 18:45] arggh commented on #86
That works just fine, thanks!

[2017-06-09 18:45] #86 closed, assigned to nobody

[2017-06-11 15:25] teknologist commented on #103
Same here

[2017-06-12 03:01] akanix42 commented on #103
Thanks for the reports - I should be able to look at this in the next couple days.

[2017-06-15 07:10] Furqankhanzada commented on #103
@nathantreid any update on it ?

[2017-06-18 18:11] akanix42 commented on #103
Unfortunately this week turned out to be super busy for me, so I haven't looked at it yet.

[2017-06-22 16:24] josephtactica commented on #103
Hi @nathantreid, just want to check in on this issue... Thanks.

[2017-06-22 18:31] akanix42 commented on #103
It appears that the transpilation of ES modules has changed in Meteor 1.5, and the `__esModule` property has been replaced with a `Symbol`.
React-Toolbox relies on that property to properly import the files. I'll have to do more checking to make sure my fix doesn't break anything else, but in the meantime, please try the following version - it works for me with react-toolbox: `nathantreid:css-modu

[2017-08-04 19:45] tjramage opened #104 "Disable generating SourceMaps?"
The `sourceMappingUrl` comment that is added to the bottom of our styles (that appear in the HTML head) doesn't actually resolve to a proper source map.

I'm using `babel-plugin-react-css-modules` instead of `react-css-modules`, which means I simply import my styles without declaring a reference in my React components, and it maps the `styleName` prop to the imported SCSS stylesheet: `import 'App.

[2017-08-09 22:47] sean-stanley commented on #66
Hi your example is no longer working with the latest version of react-flexbox-grid 1.1.4. I am going to have a play though and see if I can't get it working.

Problem seems to be that now react-flexbox-grid is creating a different pattern for the class names than before. I don't have much experience using css modules but they look awesome and I'm sure there must be a way to get it to work. I'm usi

[2017-08-17 09:55] arggh opened #105 "Trouble using Sass"
I just tried to use a Sass mixin in my project. I had _thought_ I had this beast configured, but this proves otherwise.

This code:

[code]

will produce the error

[code]

and if I try to use a variable

[code]
I get this:
[code]

and my configuration is here:

[code]

Using variables defined in postcss-simple-vars works just fine.

[2017-08-17 09:57] arggh commented on #105
Also, trying Sass calculations produces just invalid properties, like:

[code]

will output just:

[code]

[2017-09-03 07:16] arggh commented on #105
@nathantreid  do you have any updates if this is an actual issue or something I have misconfigured? Can I help in any way to resolve it?

[2017-09-08 00:17] #105 closed, assigned to akanix42

[2017-09-08 00:18] akanix42 commented on #105
Sorry for the delay on this! There was a bug in the file extension handling for SCSS files preventing multi-dot file extensions (like `somefile.m.css`). This has been fixed in 2.7.4.

[2017-09-08 15:40] arggh commented on #87
Fyi, https://github.com/meteor/meteor/issues/9054

[2017-09-08 15:51] arggh commented on #105
After updating to `2.7.4` I'm in a world of hurt! PostCSS functions are being complained about by SCSS Compilation...

[code]

[2017-09-08 16:11] akanix42 commented on #105
Can you post some sample code? Does the PostCSS function syntax conflict with the SCSS function syntax?

[2017-09-08 16:28] arggh commented on #105
[code]
$primary is declared in my PostCSS global variables.

The color lib for PostCSS in question: https://github.com/postcss/postcss-color-function

[2017-09-08 17:36] akanix42 commented on #105
It appears this is a conflict between SCSS and the `postcss-color-function` plugin since the Sass compiler views that as an attempted SCSS function call: https://www.sassmeister.com/gist/c1a198679fd76b456ad100b213365aeb.
Unfortunately, I think you might have to choose between `scss` and the `postcss-color-function` plugin.

[2017-09-08 17:47] arggh commented on #105
I came to the same conclusion and already ditched `scss` for now, since I'm doing just fine with PostCSS and all the plugins there are for it.

Thanks for help & fixes!

[2017-09-14 17:26] tjramage commented on #104
@nathantreid — Sorry... any help on the above? Thanks!

[2017-09-14 22:21] akanix42 commented on #104
Sorry about the slow response! This isn't currently a customizable option; I'll look into it when I get a chance, but in the meantime if you want to change it in a local copy of the package, it's probably coming from [here](https://github.com/nathantreid/meteor-css-modules/blob/master/scss-processor.js#L90).

[2017-09-14 22:25] tjramage commented on #104
No worries @nathantreid — thanks for the reply. I'll look into running a customised local package at some point. Cheers.

[2017-09-20 10:01] arggh commented on #102
@nathantreid , out of curiosity, are you expecting Meteor folks to fix Meteor, or are Meteor folks expecting for CSS-Modules to get fixed?

[2017-09-20 14:03] akanix42 commented on #102
I plan to release a fix for this soon. I'm hoping it's as simple as pulling in the `es6-map` package from npm instead of extending the built-in `Map`.

[2017-10-13 17:36] akanix42 commented on #102
Ben has posted a suggestion (https://github.com/meteor/meteor/issues/8749#issuecomment-336243269) for making this work without any changes (publishing a beta using the 1.6 release) but I'm currently stuck waiting on meteor/meteor#9203. Once that's fixed, I'll get a beta out.

[2017-10-20 22:39] akanix42 commented on #102
Per Ben's recommendation I've published `nathantreid:css-modules@2.8.0-beta.0` using the Meteor 1.6 rc. I haven't yet had the opportunity to test the package, but the only change was removing the Meteor version restrainsts (since I was publishing using the release candidate).

[2017-10-21 04:53] arggh commented on #102
Doesn't seem  to work.

I updated Meteor to `1.6-rc.16` and nathantred:css-modules to `2.8.0-beta.0`, still get this:

[code]

[2017-10-30 15:56] joedeleeuw commented on #102
@nathantreid any update on this? I'm getting the constructor Map exception on the official 1.6 Release.

[2017-10-30 19:55] neoromantic commented on #102
Same here, this is stopping me from update to 1.6, and that's not good :(

[2017-10-30 23:42] akanix42 commented on #102
This issue has been fixed in v2.8.0. Not sure why it didn't work when I published using the rc, but this time I published with the 1.6 release and now Meteor no longer errors when loading the package.

[2017-10-30 23:42] #102 closed, assigned to nobody

[2017-10-31 07:25] arggh commented on #102
Thank you! 👍

[2017-11-01 11:23] neoromantic opened #106 "Can't get CSS Modules to work on Meteor 1.6 (still)"
I've been using this package for awhile now, along with meteor 1.4, 1.5 and now I'm trying to get it working with 1.6. Also, I use react-toolbox.

Currently, I just get unstyled components, as if no ```import styles from 'file.css' ``` were working. No errors, I even see 'processing files with nathantreid:meteor-css-modules' line when run devserver. But no css code gets to client.

I suppose my co

[2017-11-01 11:26] neoromantic commented on #106
I suppose, I might be lacking some babel plugin, but all was working great on 1.5 :(

[2017-11-01 11:44] neoromantic commented on #106
I've created demo repository with just clean Meteor 1.6, meteor-css-modules and Babel with env and react presets. Here it is: https://github.com/neoromantic/meteor-cssmodules-1.6

I can't get imported styles to work there either. What am I missing? Anyone?

[2017-11-01 15:30] neoromantic commented on #106
While fighting with this, I've discovered a bug in Meteor 1.6 (rather unsettling) that prevented me from building my (1.5) app. So, please nevermind my plead for urgency and sorry for that also, nerves :)

But problem stands, can't get css-modules to work on 1.6.

[2017-11-01 21:06] timbrandin commented on #106
I have the same problem. I'm curious if this have to do with the fact that node 8 supports import and export natively? And meteor removed Reify that made it possible before.

[2017-11-01 21:44] merrington commented on #106
I ran into the same thing - it seems like a problem with the default export.

Until it gets fixed, I found a quick fix (depending how many places you are importing styles) is to import `styles` by it's name instead of default, e.g.:

[code]

[2017-11-01 22:04] timbrandin commented on #106
https://github.com/nathantreid/meteor-css-modules/issues/106#issuecomment-341252464 works for me, and using sass/scss. 💃
in case you have multiple imports just:
[code]

[2017-11-01 22:11] neoromantic commented on #106
Wow, cool. But is it meteor-css-modules bug or something regarding node8/babel?

Seems like no brainer to replace it all in my code, but feels wrong to do that not knowing why it is so.

In any case, thanks a lot, guys.

[2017-11-01 22:22] neoromantic commented on #106
However, react-toolbox doesn't work :(

Do you have any idea on how to work around that one? I use react-toolbox installed with npm.

[2017-11-06 12:17] wojtkowiak opened #107 "Unexpected token ... on 2.8.0 (Meteor 1.5.2)"
After updating from 2.7.4 to 2.8 I got this error. I've compared the code and it seems that the contents of the build plugins were not transpiled so they do not work on node 4.... I guess that this is a bug in Meteor and you need to publish the plugin with Meteor 1.5.x

[code]

[2017-11-07 10:57] wojtkowiak commented on #107
Ok, you need to maintain a separate version line and publish with 1.5 if you want to support pre 1.6 versions.
https://github.com/meteor/meteor/issues/9308

[2017-11-07 12:18] akanix42 commented on #107
OK, thanks! I'll publish 2.8.1 soon with Meteor 1.5 support and bump to 3.0.0 for 1.6.

[2017-11-07 15:01] akanix42 commented on #106
It looks like this is a change in 1.6. I've chimed in on a Meteor issue report, so we'll wait to see what the feedback is. In the meantime, you can also import the default styles by appending `.js` to your file path, e.g.
`import styles from './somemodule.scss.js'`. Unfortunately I don't think npm packages will work until this is resolved since the default exports won't load properly for them.

[2017-11-08 02:29] neoromantic opened #108 "Usage with postcss-nested-vars plugin"
So, I grew over postcss-simple-vars and need something more capable, and turned to postcss-nested-vars plugin.

However, when I try to enable it with this package, I get error:

[code]
  "cssModules": {
    "postcssPlugins": {
      "postcss-import": {},
      "postcss-mixins": {},
      "postcss-each": {},
      "postcss-cssnext": {},
      "postcss-responsive-type": {},
      "postcss-modules-lo

[2017-11-08 03:34] neoromantic commented on #108
I needed nested-vars to conditionally set sass variable to theme colors for different clients.

Suppose, I have my theme in some sass common file (colors.scss) that I include wherever I need it.

How could I redefine some variable conditionally? Only thing I have in mind, is to have these redefinements scoped by some global classname, and then just set this class on root element. But for that I ne

[2017-11-08 03:42] neoromantic commented on #108
i just understood that nested-vars wont help me :(

[2017-11-09 14:54] raza2022 opened #109 "working example with latest meteor version"
Hi @nathantreid Thanks for all your great work for community.
I just wanna to upgrade my existing meteor project but it messed up with your module whenever i tried. I just tested with a new meteor project but didn't succeeded here is the link of test repo https://github.com/raza2022/meteor-react-toolbox
so can you please update your meteor react-toolbox example with latest version Thanks in advanc

[2017-11-09 16:51] akanix42 commented on #109
This is a known issue - it appears to be a bug in Meteor 1.6, which is being tracked here: https://github.com/meteor/meteor/issues/9305. For now I recommend staying on Meteor 1.5.x as `react-toolbox` (and other npm packages that rely on CSS modules) will not work on 1.6.0.

[2017-11-10 06:53] raza2022 commented on #109
@nathantreid Thanks so I just updated till 1.5 for my existing project but got error too. here is what i done step by step.
```meteor update --release 1.5```
that done successfully and now meteor release showing version is ```METEOR@1.5```
project started successfully too which is good .
The wired error comes in browser only which is attached in pic
![browsererror](https://user-images.githubuserco

[2017-11-14 14:58] egemon commented on #104
Hey guys, I am getting this warnings too. How could i change it in local package? Don't u propose me to go to node_modules folder?))

[2017-12-12 03:45] j-jackson opened #110 "Has anyone found a solution to FOUC with SSR?"
I have SSR working beautifully with meteors new `server-render` but unfortunately the flash of unstyled content pretty much makes it unusable.

I know this isn't really an issue with `meteor-css-modules` but was wondering if anyone has come up with any clever ways to get around it?

[2017-12-21 19:38] arggh opened #111 "White space problem"
This isn't really an issue with CSS Modules, but it took me a few minutes to figure out what's going on.

I had a perfectly working page in my app, hadn't touched it in ages.

Then I setup class naming convention as instructed in your docs,
[code]

Suddenly my page is all wonky.

Turns out, I had a white space character in my `css`-file that wasn't actually white space.

![whitespace](https://user

[2017-12-22 22:53] yched opened #112 "How to specify a folder with global (legacy) styles ?"
I'm planning to move an existing app, with a large existing global CSS codebase (SCSS actually, but that probably doesn't matter here), over to css-modules. That means starting with a set of global styles, and progressively moving it to component-scoped styles.

AFAICT, I have two options, depending on whether I include 'postcss-modules-local-by-default' or not in the list of postcssPlugins :
- in

[2017-12-23 00:00] akanix42 commented on #112
For global CSS, you'll want to use the `passthroughPaths` option. I've got it documented here https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options but basically you'll need to use a config like this in your package.json:
[code]

As for why I'm not using `postcss-modules` - I haven't gotten around to it! 😄 My plugin was actually created before the `postcss-modules` package and for

[2017-12-23 08:25] yched commented on #112
Thanks for the quick reply @nathantreid!

`passthroughPaths` is what I was looking for indeed, awesome! I guess I overlooked it because I wrongly throught it would skip SASS processing as well, but apparently it doesn't. It just skips postcss processing, is that correct ? (might be worth a note in the doc ?)

`postcss-modules` : heh, right, things like that happens :-)

Thanks for the help and the

[2017-12-23 08:25] #112 closed, assigned to nobody

[2017-12-27 21:06] warmbowski commented on #106
FYI, I get this same problem using css-modules with typescript (replaced babel with barbatus/typescript). I needed to follow comments above as well and `import { styles } from ./my-css.css` as opposed to `import * as styles from ./my-css.css` as I typically would in typescript.

[2017-12-28 13:19] yched opened #113 "Allow passing options to node-sass (includePaths...)"
I'm in the process of moving an existing app, with a large existing global SCSS codebase over to css-modules.

Since many of those new component-scoped styles are using vars / mixins provided by the global SCSS definitions, I find myself doing a lot of tedious relative imports :

`@import '../../[...however_deeply_nested_my_component_is...]/my_root_scss_folder/variables/colors';`

Those relative p

[2017-12-28 13:43] akanix42 commented on #113
I’ll look into that, however did you know you can use absolute-style paths relative to the root of the Meteor project directory? For example if your `my_root_scss_folder` is stored at the root of your project then `import ‘/my_root_scss_folder/variables/colors’;` should work from any file.
Updating the documentation is on my TODO list...

[2017-12-28 16:39] yched commented on #113
Awesome - that's good enough for me :-)
Thanks!

[2017-12-28 17:10] yched opened #114 "import from './Foo' reads from Foo.scss rather than Foo.jsx"
(Seeing this with Meteor 1.6.0.1, did not check with 1.5)

Say I have :

- ComponentA.js : some react component
[code]
- ComponentB.js : some component

The moment I add a ComponentB.(s)css file next to ComponentB.js to hold its local styles,
then the `import ComponentB from './ComponentB'` line in ComponentA.js appears to read from the css file rather than the js file.

(The app crashes with the

[2017-12-29 13:06] yched commented on #114
[removed, more up-to-date findings in next comment]

[2017-12-29 13:23] yched commented on #114
Running some more tests, I actually narrowed it down to an issue with .**s**css and .js**x** files specifically:
(for some reason, when initially developping the app, we adopted the convention to use the *.jsx extension for our react component files - might not be such a great idea in retrospect...)

- `foo.js` + `foo.css`
--> OK: `import foo from './foo'` imports from `foo.js`

- `foo.js` + `foo.

[2018-01-02 18:12] yched commented on #104
Like the OP, I'm seeing the "DevTools failed to parse SourceMap: http://localhost:3000/url/of/the/page/currently/being/viewed/minus/the/last/part/MyComponent.css.map" messages in Chrome.

Rather than disabling sourceMaps, though, I'd like to get them working :-)
(although being able to disable them in production would also be nice I guess...)

I'm not sure at which URL they're supposed to be avail

[2018-01-08 00:59] OZhurbenko commented on #102
This issue appeared for me again in the 2.8.1 with Meteor 1.6.0.1.
Downgraded the package to 2.8.0 and it started working again.
cc @nathantreid

[2018-01-08 15:35] akanix42 commented on #102
@OZhurbenko Since supporting Meteor 1.6 is a breaking change, I've published v3.0.0 for Meteor 1.6+. The 2.x branch will continue to support Meteor 1.5.

[2018-01-08 15:45] akanix42 commented on #114
Can you provide a simple reproduction repo? This plugin should be outputting a `foo.scss.js`, not a `foo.js` file, so I'm not sure why they'd conflict.
You can also try adjusting the (currently undocumented) `outputJsFilePath` option in your package.json.
The default value is `'{dirname}/{basename}{extname}'`, and `.js` will automatically be appended to the end of whatever you specify.

Thanks!

[2018-01-08 15:46] akanix42 commented on #107
Closing because the separate versions were published a while ago.

[2018-01-08 15:46] #107 closed, assigned to nobody

[2018-01-08 17:55] yched commented on #114
Yeah, sorry if I wasn't clear, took me a couple iterations to exactly identify the symptoms.

This is not a conflict with the files the plugin generates, but a conflict striclty between the files present in my app, and the way 'import' imports them when meteor-css-modules is present :

- For some reason, we chose to use the *.jsx extension for all our react components
(helps figuring which is whic

[2018-01-08 21:45] OZhurbenko commented on #102
Well, I have Meteor 1.6.0.1.

When I run:
`meteor update nathantreid:css-modules`
it shows me:
`nathantreid:css-modules  upgraded from 2.8.0 to 2.8.1` ... and 2.8.1 breaks the build.

Although changing it manually to either 3.0.0 or 2.8.0 worked for me. Thanks!

[2018-01-08 21:49] cdolek commented on #104
Hi @nathantreid forked the package in order to work on this issue but when I use the local version (which I generated by ./prepare.sh) it downgrades to 2.8 from 3.0 and installs other npm packages which were not previously installed. Any recommendations?

Thanks

[2018-01-08 23:51] akanix42 commented on #104
You can update the version number in `package.js`. Btw, 2.8 and 3.0 are the same. To support both Meteor 1.6 and 1.5, I needed to introduce a major version update. When building locally like you're doing, there are no differences between the two. Looks like I need to commit my changelog!
The npm packages it's installing are ones used by my css-modules plugin. They aren't accessible to the rest of

[2018-01-08 23:54] akanix42 commented on #102
Ah, yes. `meteor update` won't automatically jump to v3.0.0 because it's a major version change. There's a command line switch you can use to have it update anyway, but I'm not sure what it is offhand.

[2018-01-09 17:36] btorresgil commented on #114
This doesn't seem exclusive to `meteor-css-modules`.  It happens for me when using the `less` package and having a `MyComponent.jsx` and `MyComponent.less` in the same directory.  Any import with implicit extension prefers the `.less` file.  Still looking for a solution to prioritize .jsx over .less.

[2018-01-15 12:15] wojtkowiak commented on #107
Yep, thanks :)

[2018-01-15 12:15] wojtkowiak commented on #107
FYI: missing 2.8.1 3.0.0 tags in the repo

[2018-01-15 14:10] akanix42 commented on #107
Added tags and CHANGELOG entries, thanks.

[2018-01-15 14:16] akanix42 commented on #111
Do you happen to know what that character was? I'm guessing that it doesn't cause any issues as long as it's at the end of the line because the browser ignores it, but when you adjusted the naming convention as shown above it got stuck in the middle of the generated class name.
Probably all I need to do is look into what characters are legal for CSS class names and strip any that aren't, and likel

[2018-01-15 15:05] arggh commented on #111
Sure! Apparently it's a **non-breaking space**, whom we know better as `&nbsp;` from the old days.

![camospace](https://user-images.githubusercontent.com/17210302/34948582-40c273b2-fa16-11e7-937b-e0cc11547760.png)

[2018-01-19 06:00] neoromantic commented on #106
@nathantreid so, did anyone managed to get react-toolbox working well with meteor 1.6 and css-modules 3.0.0?

I couldn't. Is there a point in trying?

[2018-01-23 00:22] akanix42 commented on #106
Meteor 1.6.1 included the imports fix, so I've published v3.0.1 to support it (and fix a couple of other bugs). @neoromantic react-toolbox now works in my tests!

[2018-01-23 00:22] akanix42 commented on #104
@cdolek I believe this issue has been fixed in v3.0.1. Please give it a shot!

[2018-01-23 00:23] #103 closed, assigned to akanix42

[2018-01-23 11:22] thoomasbro commented on #106
Hi, thanks for the nice work. I tried to install v3.0.1 but there seems to be a conflict :
Conflict: Constraint ecmascript@0.10.0 is not satisfied by ecmascript 0.9.0.
ecmascript@0.10.0 <- nathantreid:css-modules 3.0.1

Here is the list of installed packages:
[code]

I started with a fresh new meteor project, but can't make it work...

[2018-01-23 15:15] akanix42 commented on #106
@thoomasbro Based on your package versions, it looks like you're running Meteor 1.6; for v3.0.1, you'll need to be on Meteor 1.6.1. Meteor 1.6.0.1 is still the recommended release (or it was yesterday, anyway) so to create a new project with Meteor 1.6.1, add the `--release` flag to your meteor command:
[code]

You can use the same flag to update an existing project.

[2018-01-23 15:25] thoomasbro commented on #106
thanks, seems to work like a charm!

[2018-01-24 00:24] warmbowski commented on #106
I updated to meteor@1.6.1 and nathantreid:css-modules@3.0.1. The import works now and the components are styled for the normal js style import of `import styles from ./my-css.css`, but in the case of using typescript, the import needs to be in the format `import * as styles from ./my-css.css` to avoid a typescript error. Css imported in the typescript way still doesn't get processed and the compon

[2018-01-24 02:10] akanix42 commented on #106
@warmbowski I just ran a test with barbatus:typescript, and importing is working. You'll need to use the format `import styles from ./my-css.css`, the `import *` format will not work; more precisely, if you use `import * as styles` it'll work, but `styles` will be a subproperty (`styles.styles`).

To remove the `cannot  find module` error, I added a generic typing for `.css` files:
[code]

Sample

[2018-02-18 08:45] soodoh opened #115 "Console Warnings on every component mount"
I'm seeing this console warning on every React component (and subcomponent) mount that is importing a CSS module.
There is no error and everything is rendering as expected, yet every mount and update from _every_ component importing a CSS module generates this warning!
[code]

When you view the bundled js through dev tools, it appears the warning is coming from this section of the generated module

[2018-02-18 16:47] akanix42 commented on #115
The latest version of CSS modules alerts you if you attempt to reference a
class that doesn't exist. It appears that React or one of your plugins is
attempting to reference the non-existent `@toStringTag` property on the
style import.
You can disable the warning; see the changelog for more info:
https://github.com/nathantreid/meteor-css-modules/blob/master/CHANGELOG.md#added

On Feb 18, 2018 2:45

[2018-02-18 19:59] soodoh commented on #115
Thanks for the response! I see. I thought thats what that get function was doing, but I didn't consider that something was trying to use a @@toStringTag property.

Maybe it's React, like you said? Or could it be that a few of my CSS modules use @import. Do you think this could be causing the issue?

I will try removing it later today and post my results here.

[2018-02-20 10:18] soodoh commented on #115
Hey, just found what was causing the problem. As you suggested, it was a React-related dependency causing this console warning issue.
Specifically, it is react-router-dom in React Router v4 that uses the function isSymbol when checking props for each component

This happens whenever we pass a CSS module as a 'theme' prop for React Toolbox.
[code]

This is particularly noticeable when rendering an

[2018-02-25 22:06] soodoh commented on #115
Reverting to 3.0.1 resolves this issue for now. I'll close this.

[2018-02-25 22:06] #115 closed, assigned to nobody

[2018-02-25 22:16] soodoh opened #116 "PostCSS plugins not working as expected"
When I add the following package.json configuration on the readme.md for adding PostCSS plugins, I get a build error.

[code]
This is the build error I keep getting:
[code]

This is an issue with React Toolbox's use of CSS Modules with CSS next, which oddly compiles just fine without any PostCSS plugins added to package.json. But when I revert to the default settings, it still doesn't allow me to

[2018-03-31 18:23] arggh commented on #115
@nathantreid Just wanted to let you know, that after updating to latest CSS-Modules `3.1.0`, my browser console is being bombarded by these same error messages `Symbol(Symbol.toStringTag) ": CSS module class not found in client/components/common/connection_lost/connection_lost.m.css"`

It's caused by ViewModel, which upon the initialization of a new ViewModel instance, tries to determine the type

[2018-03-31 20:18] arggh opened #117 "Question about dynamic imports"
#### TL;DR Are dynamic imports supported in CSS Modules?

I was playing around with the new Meteor version 1.6.1, trying to dynamically import stuff from an Atmosphere package.

So, I have a `test.html`, `test.js` and `test.m.css` in the Atmosphere-package, which are not included in the `package.json` nor exported, they are just... sitting in the package.

When I dynamically import the `test.js` (

[2018-03-31 21:59] akanix42 commented on #117
Yes, dynamic importing should be possible! It looks like you've uncovered a bug - the current lazy load check tests if the file is in an `imports` or `node_modules` directory. I need to update it to work with packages, and also with the new lazy load everywhere option Meteor 1.6.2. https://github.com/nathantreid/meteor-css-modules/blob/37f1550424979e29dfb42dce14bf43f9f6cd9da2/css-modules-build-plu

[2018-03-31 22:01] akanix42 commented on #116
I haven't had time to look into this yet - it's on my radar but I've been very busy of late

[2018-03-31 22:03] akanix42 commented on #115
I expect this is rather simple to detect and fix, but I unfortunately haven't had time to do so yet. Hopefully I'll get to it this next week.

[2018-04-01 07:12] arggh commented on #117
Good to know, thanks! Let me know if you need help in testing, I've got a complex beast of a package that will greatly benefit from this feature.

[2018-04-06 09:57] arggh commented on #117
I've been refactoring some stuff to use CSS-Modules with dynamic imports even though it's not quite there yet when it comes to packages. Now I also noticed this:

If I dynamically import a CSS-file that uses `composes`, the composed class is found in the styles json (like `i__imported_button_1`) but the actual corresponding CSS is missing. There's no styles with definition `.i__imported_button_1`

[2018-04-10 02:49] csKangGdcomm opened #118 "Proxy constructor problem"
Hi,

Thanx for the awesome project!

I have a problem related to the Proxy object.

I am using your project and scss together and.

When i tried to load my project on android device is 4.2.2 android version, pretty old,

there is an error after build success.

`meteor run android-device`

[code]

the message is below

`android:http://localhost:12104/app/app.js:1664) Uncaught ReferenceError: Proxy

[2018-04-10 15:45] egemon commented on #118
The same issue in development mode for IE11.  Still when building with circleCI I managed somehow avoid this in staging, but when trying to deploy locally - getting the same error. That is why, I think here some build issue, and should exist more elegant solution than adding the polyfill.

So basically we can see it here
https://github.com/nathantreid/meteor-css-modules/commit/5f725828ac6707dc7b55

[2018-04-11 01:46] csKangGdcomm commented on #118
I solve this problem. you can check [Meteor Forum](https://forums.meteor.com/t/proxy-is-undefined-at-meteor-local-build-programs-web-cordova-app-app-js/43119/3?u=cskang)
The main problem is that Meteor should provide elegant way to include some code or library when user build their project or develop their project.
Anyway I hope I can help you @egemon if you faced this problem
Thank you! I will cl

[2018-04-11 01:46] #118 closed, assigned to nobody

[2018-04-12 22:25] akanix42 commented on #118
I noticed the issue where running in `--production` mode still produces the Proxy. I believe it is a caching bug in my code as after a `meteor reset`, running in `--production` mode did not produce the Proxy.

[2018-04-20 22:10] akanix42 commented on #95
Closing due to inactivity after solution was provided. If this is still an issue, please reopen it.

[2018-04-20 22:10] #95 closed, assigned to nobody

[2018-04-20 22:11] akanix42 commented on #87
Closing due to the updates made by Meteor core in the referenced issue. If this is still an issue, please reopen it!

[2018-04-20 22:11] #87 closed, assigned to akanix42

[2018-04-20 22:20] akanix42 commented on #115
This should be fixed in v3.1.2. I've also added a configurable option `missingClassIgnoreList` to exclude other properties as necessary. See the [release notes](https://github.com/nathantreid/meteor-css-modules/blob/master/CHANGELOG.md#312---2017-04-20) for more info. Hopefully soon I'll get this added to the documentation as well.
Please let me know if you still see error messages, and if possibl

[2018-04-24 17:30] arggh commented on #115
@nathantreid

I updated to v3.1.2, and now I can't build my app:

[code]

I'm running Meteor v1.6.1.1.

[2018-04-24 17:32] arggh commented on #115
Downgrading back to v3.1.0 and all works fine.

[2018-04-24 18:04] akanix42 commented on #115
@arggh Yikes! That's an interesting error... you wouldn't happen to be able to provide a reproduction, would you?
I didn't [make that many changes](https://github.com/nathantreid/meteor-css-modules/compare/37f1550424979e29dfb42dce14bf43f9f6cd9da2...v3.1.2) between 3.1.0 and 3.1.2, so my guess is it's either 86050ab4b203bd4f1a5d7b4498b0b418af8f2280 or 596107ed68f0e31359b784abfbefb306ce4618cb.

Are

[2018-04-24 18:11] akanix42 commented on #115
It also _might_ be related to this issue: https://github.com/meteor/meteor/issues/9568.
One of the workarounds is to run the Meteor process with this environment variable set: `TOOL_NODE_FLAGS="--max-old-space-size=4096"`. Max old space is an amount in megabytes of RAM, so upping it may work around the issue.

[2018-04-24 18:26] arggh commented on #115
I use `composes` heavily, also I have lots of legacy SCSS files and `fourseven:scss` package installed for those, should that give you any ideas about the cause.

I'll try the node flag & also if I can isolate the cause (maybe `fourseven:scss`?) and build a repro if necessary.

[2018-04-24 18:31] akanix42 commented on #115
I just published 2 prerelease versions to help isolate this:
1: `nathantreid:css-modules@3.1.3-gc-crash-1.1` reverts 596107ed68f0e31359b784abfbefb306ce4618cb.
2: `nathantreid:css-modules@3.1.3-gc-crash-2.1` reverts 86050ab4b203bd4f1a5d7b4498b0b418af8f2280.

If you have time, please try them out and let me know if you still experience the issue.

The SCSS question was more about if you were using t

[2018-05-16 07:14] arggh commented on #115
Sorry, I completely dropped the ball with this one and just forgot.

I now tried out both versions, and they both produce the same end-result.

However, running `3.1.2` with `TOOL_NODE_FLAGS="--max-old-space-size=4096"` does work. The build process seems to take quite long and it seems quite stuck at times, but in the end the app started.

[2018-05-16 07:24] arggh commented on #115
After the first initial succesful build with `3.1.2`, the build time seems to have normalized.

[2018-05-16 07:26] arggh commented on #115
Also, after the first initial succesful build, I can skip passing the `TOOL_NODE_FLAGS` env var and the build succesfully completes.

[2018-06-06 13:31] xlinbsd commented on #106
Hi, If there is always a problem for some on meteor 1.6.1.1 and meteor-css-modules 3.1.3 to properly display react-toolbox components, I have no problem using the `fourseven:scss` meteor package instead of  npm `node-sass` in a react-toolbox project. It is the [recommended sass package for meteor](https://guide.meteor.com/build-tool.html#sass)

I'm importing CSS in `MyComponent.jsx` with
`import s

[2018-06-06 15:16] akanix42 commented on #106
@xlinbsd Can you elaborate on the issue you are experiencing (expected vs actual behavior) and provide a reproduction repo? Thanks!

[2018-06-06 16:45] xlinbsd commented on #106
@nathantreid, I have no issue to demonstrate.
I figured out a possible solution to the @neoromantic issue with react-toolbox component displayed css-naked.

[2018-06-13 06:35] fangjj opened #120 "antd-mobile.less to be processed into PostCSS plugins, but not want to be processed into CSS Modules!"
i want node_modules/antd-mobile/dist/antd-mobile.less to be proccessed into postcss-pxtorem plugin but not want to be proccessed into css-modules,  this is rep https://github.com/fangjj/test-css-module
if i config  passthroughPaths: [ "client/antd.less" ] then node_modules/antd-mobile/dist/antd-mobile.less will not be proccessed into postcss-pxtorem plugin.

[2018-06-14 04:24] fangjj commented on #120
any update?

[2018-06-15 13:36] akanix42 commented on #120
This seems like a reasonable feature to include, but I'm not sure when I'll be able to do so. I'm open to PR's as well. In the meantime, the best solution I can think of is to add `juliancwirko:postcss` (see instructions here: https://github.com/juliancwirko/meteor-postcss/)  which will apply postcss to your files after `nathantreid:css-modules` has done it's part. I haven't tested it with my plug

[2018-06-20 01:08] fangjj commented on #120
thank you! i add juliancwirko:postcss to proccessed what CSS Modules passthroughPaths. like this.
![image](https://user-images.githubusercontent.com/15318800/41631803-3a660fce-7469-11e8-8671-efcea42cf1ac.png) it works for me. but i have a question for this.
![image](https://user-images.githubusercontent.com/15318800/41631845-7f27b5b8-7469-11e8-8012-e8bbcd3b24e3.png)

[2018-06-20 01:46] akanix42 commented on #120
Yeah, those are the packages that actually perform the postcss CSS modules
processing.

See here for more info:
https://github.com/nathantreid/meteor-css-modules/blob/master/README.md#postcss-plugins

On Tue, Jun 19, 2018, 8:08 PM redim <notifications@github.com> wrote:

[2018-06-20 02:14] fangjj commented on #120
yeah, got it. when  remove this required, but it still work.

[2018-08-05 09:47] mankinchi opened #121 "Problem with parsing local html tag"
I have an element tag (like p tag) in my module.css. My expectation is that this tag will be converted into a scoped css but this style get totally ignored. How can I make this work?

[2018-08-21 13:32] mcissel opened #122 "Doesn't output merged-stylesheets.css on server with Meteor server-render"
I made a minimal repo to show the issue https://github.com/mcissel/meteor-css-modules-ssr-bug

I've set the flag:
[code]
But it's not doing it.

[2018-10-21 19:14] yched opened #123 ""nathantreid:css-modules@3.2.1 : No compatible binary build found for this package" error on 'meteor update'"
When running `meteor update`, I get the following error :
[code]

I then manually updated nathantreid:css-modules to 3.2.0 instead (`meteor add nathantreid:css-modules@3.2.0`), but I still get the same error on `meteor update`, which prevents me from upgrading the other packages.

It seems a 3.2.1 version got somehow published on atmosphere without the associated code ?

[2018-10-21 20:10] yched opened #124 "'Compiling undefined with meteor-babel without a cache' error with Meteor 1.8 / meteor-css-modules 3.2.0"
When building the meteor app (Meteor 1.8 / meteor-css-modules 3.2.0), I get the following error :

[code]

Things seem to work fine with version 3.1.4 (even with meteor 1.8)

Maybe [this reply ](https://github.com/meteor/meteor/issues/10236#issuecomment-427048932) by @benjamn could be relevant ?

[2018-10-23 00:20] akanix42 commented on #123
I'm not sure how that could happen, but I'll look into it.

[2018-11-05 18:26] oswaldoacauan commented on #123
Same error is happening for us. Any news regarding this issue @nathantreid ?

[2018-11-10 02:12] met5678 commented on #123
Having the same issue here.

[2018-11-10 09:22] yched commented on #123
@nathantreid Maybe just issue a new release to get past the buggy thing about 3.2.1 ?

[2018-11-10 13:16] akanix42 commented on #123
I've published 2 releases, `nathantreid:css-modules@3.2.2-beta.1` using Meteor 1.7 and `nathantreid:css-modules@3.2.2-beta.2` using Meteor 1.8. Please let me know if they work for you - I'm trying to determine if the update to Meteor 1.8 is a breaking change for this package.

[2018-11-10 14:17] akanix42 commented on #122
I explicitly avoid outputting the stylesheet on the server, because attempting to do so in the past has caused an error as Meteor didn't support it. Has that behavior changed?

[2018-11-10 14:19] akanix42 commented on #121
You can nest your tag under a class, e.g.:
[code]

The CSS modules specification doesn't support scoping tags.

[2018-11-10 14:19] #121 closed, assigned to nobody

[2018-11-10 17:20] yched commented on #123
@nathantreid Thanks !

So, testing with our app (Meteor 1.8):
- `meteor update` still blocks on the same error than in the OP, but I guess that it's because your new releases are beta and therefore not official yet.
- Manually installing 3.2.2-beta.2 (`meteor add nathantreid:css-modules@3.2.2-beta.2`) works fine, and then `meteor update` finally works normally and does update the other packages (w

[2018-11-12 23:56] akanix42 commented on #123
Thanks for the feedback - I've published 3.2.2 to resolve the issue.

[2018-11-12 23:56] #123 closed, assigned to akanix42

[2018-11-12 23:59] akanix42 commented on #124
Thanks, that reply probably does hold the solution. I'll take a look at this as soon as I can.

[2019-01-03 11:57] capsudo commented on #124
Any update on this issue ? It's quite annoying because workaround (go back to 3.1.4) does not work for me and very time I update a style file I have to make a change to a JS file otherwise I get this error.

meteor 1.8

[2019-01-09 00:20] akanix42 opened #125 "Changes to style sheets don't reload properly unless a JS file is also changed"
Reproduction:
1. Create a test app: `meteor create foo`
2. Add css modules: `meteor add nathantreid:css-modules`
3. Add a class to `main.css`:
[code]
4. Import the stylesheet and set up a helper in `main.js`:
[code]
5. Add the class in `main.html`:
[code]
6. View the site in your browser. The result is as expected:
![image](https://user-images.githubusercontent.com/1229110/50866762-f2a9f400-1370-1

[2019-01-09 00:21] akanix42 commented on #124
I've just published `nathantreid;css-modules@3.2.3-alpha.1` which should hopefully resolve the Babel error (I can't reproduce it for some reason). Please let me know if it works.
However, while testing it I ran into the issue @monkeydri described. This looks like a separate issue, so I've created an issue for it: #125.

[2019-01-09 11:53] yched commented on #124
@nathantreid tried 3.2.3-alpha.1 with both Meteor 1.8.0.1 and 1.8.0.2 : still get the error :-/

[code]

[2019-01-21 13:25] akanix42 commented on #125
I've reported this issue here: https://github.com/meteor/meteor/issues/10421

[2019-01-26 06:40] capsudo commented on #125
Hi @nathantreid, the issue I encountered (described in #124) seems a bit different because when I make a change to a SCSS file I see an error and the whole page does not load, not only the CSS.

Ex when my top style file is Main.scss which imports other SCSS file, if I make a change to one of those file the error would be :

[code]

If I then change a JS file it then reloads and everything looks g

[2019-01-27 13:31] akanix42 commented on #125
@monkeydri Thanks for pointing that out, I must have accidentally removed the last digit of the Meteor issue link.
Your issue symptoms are different, but somewhat similar - can you try the following build? It's the same as v3.2.2 except it was built with Meteor 1.7, which solved the issue I was having.

`nathantreid:css-modules@3.2.2-meteor1.7`

[2019-01-27 13:47] capsudo commented on #125
I just tried the version `nathantreid:css-modules@3.2.2-meteor1.7` but I have the same error on SCSS file change (I am using meteor 1.8.0 but downgrading to meteor 1.7 would be complicated on my current project).

Note : I also tried `nathantreid:css-modules@3.2.2` and it worked OK on the first SCSS file I modified (live reload with no problem) but then crashed when I modified another one.

I also

[2019-01-27 13:56] capsudo commented on #125
I just understood why some SCCS file changes caused the crash while others did not (live reload with no error).

If the change to the SCSS file is brand new it crashes, if the change is a step back to a previous version of the file (which has then already be compiled before and is living somewhere in meteor cache) then it reloads properly.

[2019-01-28 00:17] met5678 commented on #125
Also seeing this issue when we change a scss module:

[code]

No new info, just posting in case it's helpful to see more.

[2019-02-12 21:37] mcissel commented on #122
Meteor has a server rendering feature now https://docs.meteor.com/packages/server-render.html

[2019-02-19 09:08] shenrenguo opened #126 "'TypeError: Cannot read property '_diskCache' of undefined' error with Meteor 1.8.0.2 / meteor-css-modules 3.2.3-beta.1"
When building the meteor app (Meteor 1.8.02 / meteor-css-modules 3.2.3-beta.1), I get the following error :

/~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Processing Step: Babel compilation
Unable to compile node_modules/react-toolbox/lib/app_bar/config.css
TypeError: Cannot read property '_diskCache' of undefined
Source:
// <start of file>

// <end of file>

/~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

/~~~~

[2019-02-23 00:04] akanix42 commented on #124
I finally had time to set up Linux for testing and was able to reproduce this. Please try `nathantreid:css-modules@3.2.3-beta.3`. It seems to have resolved the issue for me.

[2019-02-23 00:06] akanix42 commented on #126
This is a duplicate of #124. I just pushed what seems to be a fix - please try `nathantreid:css-modules@3.2.3-beta.3`.

[2019-02-23 00:12] akanix42 commented on #125
The `Compiling undefined with meteor-babel without a cache` error should be fixed in  `nathantreid:css-modules@3.2.3-beta.3`. It was compiled using Meteor 1.7, so it may also resolve the SCSS issues you are having. I was able to use SCSS files in a simple test app.

[2019-02-23 22:45] yched commented on #124
@nathantreid trying nathantreid:css-modules@3.2.3-beta.3 on our Meteor 1.8.0.2 app produces this message with 'meteor run' :

[code]

AFAIR, that was a message displayed a couple months ago by Meteor 1.7, that was only compatible with @babel/runtime 7 beta <= 55. However, this is no longer an issue in Meteor 1.8, so I'm a bit surprised to see that message pop up again when trying your 3.2.3-beta.3

[2019-02-24 00:01] akanix42 commented on #124
I'll look into the global SASS files issue. I'm guessing the babel complaint is because I'm building the plugin using Meteor 1.7. If I build it with Meteor 1.8, it doesn't work at all: https://github.com/meteor/meteor/issues/10421

[2019-02-25 03:58] shenrenguo commented on #126
it's work
thx

[2019-02-25 03:58] #126 closed, assigned to nobody

[2019-02-25 19:02] #125 closed, assigned to nobody

[2019-02-25 19:12] #124 closed, assigned to akanix42

[2019-02-25 19:14] akanix42 commented on #124
@yched I've fixed the issues I was experiencing with Meteor 1.8, please try `nathantreid:css-modules@4.0.0`.

[2019-02-25 20:15] yched commented on #124
@nathantreid Yep, no more warnings on meteor run, and the app builds fine :+1:

Global SASS styles are still missing though. Do you need me to open a separate issue for that ?

[2019-02-26 02:11] akanix42 commented on #124
@yched If you could that'd be great. If you can provide a reproduction repo, even better. If not I'll try just adding css modules plus scss to the basic `meteor create` app and see what that gets me.

[2019-02-26 13:59] capsudo commented on #125
@nathantreid Thank you so much, I confirm this is fixed.

[2019-03-02 14:05] yched opened #127 "Global styles missing with nathantreid:css-modules@4.0.0"
As discussed in #124, v4.0.0 fixed issues with local styles compilation in v3.2.0 / Meteor 1.8.

However, v4.0.0 also seems to have lost processing of global SASS styles through the 'passthroughPaths' option

[2019-03-02 14:37] yched commented on #127
Pushed a reproduction repo at https://github.com/yched/repro_meteor-css-modules_127

It actually seems this is in fact not related to SASS processing: all global styles, SASS or plain CSS, are missing.
Since our app uses global SASS styles, I left the SASS check in my repro code.

[2019-03-02 19:10] TimoRuetten opened #128 "Bundle css on server and return to client"
We are using Serverside rendering so we would like to send the generated css classes from the server to the client. Is there any way to solve this with your package?

If we do not send the css directly to the client from server the first render - which the user sees - does not have the styles. A second later the styles get appended to the elements which is a bit ugly on the first render.

[2019-03-04 12:58] akanix42 commented on #128
Currently this is not a feature of my package, but it may be possible to add it. How are you performing SSR and how do you envision sending the CSS?
For example, we could add an additional export that allows you to access the CSS directly from your code: `import styles, { css } from './foo.css';`

[2019-03-04 13:07] akanix42 commented on #127
Thanks for providing the repo! The issue here is that the files are not being imported, so they are not included in the bundle.
Here is the updated `client/main.jsx`:
[code]

[2019-03-04 14:05] yched commented on #127
Thanks, I'll try that. Any idea why those styles were included without the need for an explicit import up until v1.3.4 ?

[2019-03-04 14:58] TimoRuetten commented on #128
There could be 2 ways in my opinion.

**1** All css files which are imported could be bundled when the Meteor Server restarts and put all together in one file which can be added to the <head />

**2** Like in your example it could be possible to extract the css of the file and add it to a self written CSS <Provider /> which has the context of all CSS code on Serverside and can append a <style /> t

[2019-03-04 19:43] akanix42 commented on #127
v3.2.0 was the first version to implement support for the `mainModule` syntax property in `package.json`, which was introduced in Meteor 1.7. Prior to v3.2.0, this package didn't properly detect that the files should be only be included if they were being imported unless the files were in an `imports` directory.

[2019-03-04 20:53] akanix42 commented on #128
The way Meteor handles CSS, we have a few options:
1. Tell Meteor to only include the CSS file if it is imported somewhere. This plugin won't know if it's actually imported somewhere - Meteor handles that behind the scenes. When done this way, the CSS is not bundled into a single file and is instead only added to the page when it is imported. This is the behavior you are experiencing.
2. Tell Mete

[2019-03-04 23:25] TimoRuetten commented on #128
But is there a way to export the generated CSS when importing the file? If so it would be easy to append the exported css to the head on server side. I do not know much about css-modules so I am not sure how this could be solved.

Tomorrow I will do a little research

[2019-03-04 23:51] yched commented on #127
Oh, right, makes perfect sense.
Thanks @nathanreid !

[2019-03-04 23:51] #127 closed, assigned to nobody

[2019-03-05 14:05] TimoRuetten commented on #128
Could you give me a hint how we could do this? Of course I would help when its possible for me to solve this case :)

[2019-03-06 18:48] akanix42 commented on #128
For option 3 (the export), I think it should be fairly straightforward (spoken as someone who is intimately familiar with the package, so our perspectives on straightforward may differ 🙂 ):
The CSS is accessible as `inputFile.contents` and is added to the output here: https://github.com/nathantreid/meteor-css-modules/blob/master/css-modules-build-plugin.js#L239

If when `shouldAddStylesheet` is fa

[2019-03-06 19:20] TimoRuetten commented on #128
Thanks for your input. Not 100% sure if I understand you correct that I should now change the plugin custom for my own case or if you are interested to implement something to solve it in general?

I think the best solution would be something like this:
- control in the package.json settings if a server output should be generated
- if so: when on serverside the classnames are generated I think the

[2019-03-07 13:39] akanix42 commented on #128
I'm interested in doing it, but it may take me a little while to get around to doing so. If you'd like to, feel free to look into it.
Currently server output is controlled in `package.json` via the `specificArchitecture` option: https://github.com/nathantreid/meteor-css-modules/wiki/Package-Options. I'm not sure we'd need anything more than that, as bundle sizes are less of a concern on the server

[2019-03-07 13:48] TimoRuetten commented on #128
Your example would be an option but then you need to add your css on any file you are including it. The only reason to do what I want is because of SSR. If you are using SSR with Meteor you are working with `sink` from meteor.

https://docs.meteor.com/packages/server-render.html

The sink object comes with the onPageLoad callback and holds some information of the request the user has made. So my i

[2019-03-12 17:37] TimoRuetten commented on #128
Hey @nathantreid - I just got your package wrong. I thought that on every request only the needed css will get generated on server - but thats not true. The css which is needed will be generated on the server start (which makes sense - of course).

I was able to clone your package to my local packages directory and will try to do a update which would be make it able to return the needed css on ser

[2019-03-16 22:28] arggh opened #129 "Question about sharing styles between app and package"
First and foremost, I'd like to thank you for an amazing package. We've been using it in production for some years already and it's just pure awesome.

Now, I've come by a situation where I thought some guidance might help greatly.

In our app, we've applied this type of pattern generously, where...
- Have some shared stylesheets, like `layout.m.css`, `button.m.css`or `typography.m.css`
- Use `com

[2019-03-16 23:59] akanix42 commented on #129
It's been a very long time since I've used it, but the syntax ([handled here in the code](https://github.com/nathantreid/meteor-css-modules/blob/master/helpers/import-path-helpers.js#L100)) should be `{}/path/to/file.css` for referencing a file in the base app from a package, and `{your:package}/path/to/file.css` for referencing a file in a package from the base app or another package. It will onl

[2019-03-17 08:15] arggh commented on #129
I tried to give this a try:

Reference the package's stylesheet with the provided syntax in my app's stylesheet with
[code]

and I have a package, `arggh:ui`, which contains `/styles/typography.m.css`.

but for some reason, I get build errors like so:

[code]
And in the browser:
[code]

I tried to:

a) import those stylesheets directly in my app via `import 'meteor/arggh:ui/styles/typography.m.css

[2019-03-17 08:21] arggh commented on #129
Trying to replace references of `{arggh:ui}` with just `{ui}` results in these errors:

[code]

However, this`/Users/arggh/Development/myapp/packages/ui/styles/layout.m.css`path is very much real and exists.

[2019-03-17 09:04] arggh commented on #129
Using the symlink strategy it seems I managed to get this style sharing pattern to work, though I would have much preferred the syntax you proposed for being more concise!

[2019-03-17 16:25] akanix42 commented on #129
Glad to hear that worked, but please give `nathantreid:css-modules@4.1.0-beta.1` a try!
I've added support for the `meteor/` syntax, so you can do the following:

1. In `client/main.m.css`:
[code]
2. In `packages/arggh_ui/styles/typography.m.css`:
[code]
3. In `packages/arggh_ui/package.js`:
[code]

Sample project here: https://github.com/nathantreid/css-modules-129

[2019-03-18 10:52] arggh commented on #129
Actually I take my word back, `composes` wasn't working in the package with symlinks. For example, in the package I had a file `/button/button.m.css`, which would contain this:

[code]

...those composed styles did not get included.

But with the `4.1.0-beta.1`, it works!

I did as you instructed, but with one "odd" addition:

I had to refer to the shared stylesheets with the `meteor/arggh:ui/` pr

[2019-03-18 13:51] akanix42 commented on #129
Hmm, direct path reference should work inside the packages - I'll have to take a look. Thanks for the feedback!

[2019-03-18 14:02] arggh commented on #129
The console was bombarded by hundreds of missing file errors on build when trying to reference those shared stylesheets directly, but after prepeding `meteor/arggh:ui` to the file paths (inside `arggh:ui`), everything just worked.

[2019-03-18 14:03] arggh commented on #129
Though, I'm having other issues with the Meteor bundler at the same time, I have no idea if related at all: https://github.com/meteor/meteor/issues/10496

They don't seem to be connected from my perspective, but I thought I should mention.

[2019-04-15 07:30] csKangGdcomm opened #130 "bootstrap-sass is not working propery"
I am using meteor-css-modules with scss.

Our projects needs bootstrap so I installed `bootstrap-sass`.

and then I configured package.json to include .scss files from the library.

After than I can see some styles on the screen but not everything.

Among bootstrap styles, only tag name styles is working but styles with class name is not working.

For example `<legend>` is styled but `.btn` is not

[2019-04-15 08:02] csKangGdcomm commented on #130
I solved problem.

I have to put `@import ` code in `:global {}` then it works. !!

[2019-04-15 08:02] #130 closed, assigned to nobody

[2019-04-26 06:21] arggh commented on #129
@nathantreid I've been running the beta with no issues so far.

[2019-05-31 12:34] arggh commented on #128
Probably related, as I was just on my way to ask @nathantreid if it's possible with the current implementation to merge these multiple stylesheets into one (?):

<img width="752" alt="css-modules-issue" src="https://user-images.githubusercontent.com/17210302/58706030-8c724c00-83b9-11e9-856a-ac13c3e7aa90.png">

[2020-03-10 14:40] arggh opened #131 "Updating npm dependencies"
Sadly Meteor forces packages to use exact pinned dependencies from npm, and for example, `postcss` used by `meteor-css-modules` is already two major versions behind. Any plans on updating the dependencies of this fine package?

p.s. also, and I hope you don't mind me asking, but what happened to your Github-handle? I was very confused for a while :)

[2020-03-10 14:42] arggh commented on #131
Just remembered this: https://forums.meteor.com/t/nathantreid-packages-are-now-up-for-adoption/50796 😢

[2020-04-16 10:48] bolaum opened #132 "app-module-path dependency makes android build fail"
Hi! Could any of the devs take a look at the issue https://github.com/meteor/meteor/issues/11017? A dependency in this package could possibly be changing `module.path` priority leading to build failures. The referred thread explains what's happening. Thanks!

[2020-07-21 19:47] #34 closed, assigned to nobody